[2012-11-16 20:39] charlesmchen opened #1 "GGEventLog.m missing UIKit import"
We shouldn't assume that UIKit is imported by the PCH, as this won't always be the case.

[code]

[2013-02-01 06:53] #1 closed, assigned to sskates

[2013-11-02 00:29] zacwest opened #7 "No license attached to project"
What license is the Amplitide iOS SDK distributed under?

[2014-03-07 20:11] #7 closed, assigned to nobody

[2014-05-28 10:23] sskates opened #9 "Rapid open and close causes crash from hanging background tasks"
From Alexander Wong at EndersFund:
The crash logs look like this: <BKProcessAssertion: 0x176397a0> identifier: Called by Deadeye, from unknown method process: Deadeye[992] permittedBackgroundDuration: 180.000000 reason: finishTask owner pid:992 preventSuspend  preventIdleSleep  preventSuspendOnSleep

The SDK creates a background task to prevent the app from sleeping:

[code]

And also ends the bac

[2014-05-29 05:27] #9 closed, assigned to curtisliu

[2014-09-24 03:58] ynie opened #10 "[Feature Request] Support offline logging"
Cache all the events if the device is offline. Send out all the events if the user come back online.

[2014-09-24 04:00] ynie opened #11 "[Feature Request] Batch all the events for a given interval to avoid tail window"
Send out the logging events every 15 seconds to avoid battery draining.

[2014-10-29 17:55] andrewagain opened #13 "CTTelephonyNetworkInfo should not be released"
I experienced a crash similar to this one in the TestFlight SDK http://stackoverflow.com/questions/14238586/coretelephony-crash

The TestFlight SDK had an issue with CoreTelephony. They resolved it by keeping a reference to `CTTelephonyNetworkInfo` throughout the life of the application. (static variable or property of a class instance that you keep around forever).

I think Amplitude should keep

[2014-10-30 00:07] #13 closed, assigned to nobody

[2014-11-05 09:32] guysch opened #14 "phoneModel doesn't support new iphones (5s..6..6 plus..)"
Hey,

your getPhoneModel for iOS isn't updated.

Guy.

[2014-11-08 11:41] johannth opened #15 "Add a class prefix to DeviceInfo"
The fairly generic name DeviceInfo has high possibility to clash with other similarly named classes (and it does with a class in our codebase, preventing us to update to 2.2.0, unless we prefix our own internal class).

A standard practice in the Objective-C community when distributing SDKs is to prefix all of the class names to make such collisions less likely. I would recommend renaming `DeviceI

[2014-11-08 22:15] #15 closed, assigned to nobody

[2014-11-18 18:26] cojo opened #17 "Latest version (2.2.2) AMPDeviceInfo crashes in Unity"
Hi,

We tried to upgrade to the latest iOS SDK last night from pre-2.2.0, and the new DeviceInfo approach crashes randomly on event sends from our Unity game.

We've narrowed it down to what looks like retain issues with _model, _country, _language, _advertiserID, and _vendorID.  appVersion, osVersion, and carrier all appear to be fine and don't get clobbered / cause EXC_BAD_ACCESS's like the afor

[2014-11-24 17:30] BrunoBerisso opened #19 "[iOS] Log event on app crash"
Hi,

I wonder if there is a way to log an event when my app crash for some reason (signal or unhandled exception). I check the web and the SDK code but didn't find a way.

Call any `logEvent:` method doesn't work because this methods work asynchronously and the app is terminated before the events are saved.

Thanks

[2014-11-24 23:39] #17 closed, assigned to nobody

[2014-11-24 23:40] #14 closed, assigned to nobody

[2014-11-25 21:39] cojo opened #20 "NSString *deviceId not initialized properly in _getDeviceId"
Hi,

If a given binary has the "correct" layout in the final build, it is possible that Amplitude crashes the application (confirmed in iOS5.1.1 on an iPad1 at least).

In Amplitude.m on line 835:
NSString *deviceId;
needs to be:
NSString *deviceId = nil;

Otherwise the deviceId can end up pointing to arbitrary garbage that may pass the subsequent conditionals and thus never properly initializing

[2014-11-25 21:47] #20 closed, assigned to nobody

[2014-12-14 05:16] rdignard08 opened #21 "Clang static analyzer complains about memory leak"
line 885 in Amplitude.m, `+ (NSString*)generateRandomId`, it looks like if `__has_feature(objc_arc)` is false your call to `CFUUIDCreateString` does not have a balancing call to I'm guessing `CFRelease((CFStringRef)uuidStr)` (which would probably need another `__has_feature` check).

[2014-12-19 18:34] #21 closed, assigned to nobody

[2015-01-04 14:42] saniul opened #22 "v2.2.3 broke AMPLocationManagerDelegate"
Specifically, [this](https://github.com/amplitude/Amplitude-iOS/blob/master/Amplitude/AMPLocationManagerDelegate.m#L22) crashes since `Amplitude` doesn’t have a class method `updateLocation` anymore.

/cc @curtisliu

[2015-01-04 18:08] #22 closed

[2015-01-04 18:24] curtisliu commented on #22
Thanks catching this! Fixed and added a test for this as well.

[2015-03-04 21:34] allanca commented on #10
Hi ynie,

Thanks for the suggestion. The SDK already has logic to do offline queuing. If you're seeing issues with it, please let us know.

[2015-03-04 21:34] #10 closed

[2015-03-04 21:35] allanca commented on #11
Hi ynie,

Thanks for the suggestion. The SDK already has logic to do upload batching. It currently sends every 30 seconds or when the app leaves the foreground. If you're seeing issues with it, please let us know.

[2015-03-04 21:35] #11 closed

[2015-05-26 19:06] bago2k4 opened #30 "Change Amplitude ID"
Hi,
i got 2 amplitude app setup that i use for the same app but on different environments (ie: production and staging).
Is it possible to call `initializeApiKey:` a second time when the environment gets switched or i have to restart the app to let the events go through the proper app and the user id reset?
Thank you

[2015-07-10 15:49] aryaxt opened #31 "Crash"
Seeing crashes being reported caused by Amplitude

[code]

[2015-09-08 17:48] stevebrambilla opened #37 "Use short-circuiting for setUserId validation"
When `AMPLITUDE_DEBUG` is set the current `-setUserId` validation incorrectly logs an error when `nil` is sent as the `userId`:

[code]

Would recommend testing for `nil` first to avoid the erroneous log given that `nil` is now a valid value:

[code]

[2015-09-09 20:04] djih commented on #37
Hi Steve,

Thanks for the suggestion. We will roll it into the next release.

[2015-09-22 00:03] djih commented on #37
Released with v3.0.1

[2015-09-22 00:03] #37 closed

[2015-09-27 21:36] gabek opened #40 ""Unable to save eventsData to file" when running on Apple TV hardware"
I'm assuming this is because the new Apple TV doesn't provide much with regards to storage, but maybe the location of this save process can be moved to a temp cache instead of something expected to be persistent.

[2015-10-06 15:25] josipbernat opened #42 "Crash in 3.1.0"
I was using Cocoapods version 3.0.0 and after upgrading to 3.1.0 I'm getting infinite loop and EXC_BAD_ACCESS in the end.
Take a look at attached screenshot for more details. It doesn't happen in Simulator but on real device. I've tested using iPhone 5C / iOS 9.0.2

<img width="1440" alt="screen shot 2015-10-06 at 17 22 02" src="https://cloud.githubusercontent.com/assets/2537227/10313280/2f66afea-

[2015-10-06 18:27] djih commented on #42
Hi,

Thank you for bringing this to our attention. Are you seeing this error consistently? In the debugger can you see if there is a value assigned to BACKGROUND_QUEUE_NAME? I'm trying to figure out what that EXC_BAD_ACCESS address is pointing to.

[2015-10-07 00:15] coolnalu opened #45 "Pod update/install fails - Could not find remote branch v3.1.0 to clone"
[!] Error installing Amplitude-iOS
[!] /usr/bin/git clone https://github.com/amplitude/Amplitude-iOS.git /var/folders/sq/86hhftz177scgdzggq3zgf1h0000gn/T/d20151006-14311-4mjtwk --single-branch --depth 1 --branch v3.1.0

Cloning into '/var/folders/sq/86hhftz177scgdzggq3zgf1h0000gn/T/d20151006-14311-4mjtwk'...
warning: Could not find remote branch v3.1.0 to clone.
fatal: Remote branch v3.1.0 not fou

[2015-10-07 00:25] djih commented on #45
Hi,

We took down v3.1.0 temporarily to patch a bug: https://github.com/amplitude/Amplitude-iOS/releases/tag/untagged-2cf3122cbf1ce3b2ece3. Will update you when it is rereleased.

[2015-10-07 01:13] djih commented on #45
Hi,

We rereleased v3.1.0. You should be able to do pod install now. You also may need to clear your Cocoapods cache.

[2015-10-07 01:13] #45 closed

[2015-10-07 01:14] djih commented on #42
Hi,

We rereleased v3.1.0. You should be able to pull the latest version with pod install. You might need to clear your Cocoapods cache.

[2015-10-07 01:14] #42 closed

[2015-10-07 01:15] djih commented on #40
Hi,

Thanks for bringing this to our attention. We currently don't support Apple TV, but we're considering adding it to our roadmap.

[2015-10-07 01:15] #40 closed

[2015-10-07 01:17] djih commented on #31
The eventsData file has been deprecated in v3.1.0. Upgrading to the latest version should prevent this crash from happening.

[2015-10-07 01:17] #31 closed

[2015-10-07 12:48] alec-c4 opened #46 "Carthage support"
Hi,
could you please add support for Carthage? You just need to add shared framework scheme

[2015-10-07 21:57] djih commented on #30
Hi,

Unfortunately the SDKs currently don't support multiple instances on a single app. There is a shared database, so the events from the two instances would conflict and get jumbled up.

You could probably # define APIKEY based on some config option, and set it to either the production api key or staging key based on the environment.

Best,
Dan

[2015-10-07 21:57] #30 closed

[2015-10-11 09:28] tonyxiao opened #49 "`initializeApiKey` deprecated?"
https://github.com/amplitude/Amplitude-iOS/blob/master/Amplitude/Amplitude.h#L270-L272

I thought that's the recommended way to initialize Amplitude. Why is it deprecated?

[2015-10-11 13:55] djih commented on #49
Calling methods directly on Amplitude is deprecated. You should instead call it on the instance:  `[[Amplitude instance] initializeApiKey:@"YOUR_API_KEY_HERE"];`

The readme explains this in the Setup section

[2015-10-11 13:56] #49 closed

[2015-10-11 18:10] tonyxiao commented on #49
Ah I see. Thanks!

[2015-10-19 01:13] mbalex99 opened #55 "Swift 2.0, XCode 7.1 Setting nil to Amplitude.instance().setUserId crashes"
Using Cocoapods 3.1.1

This happens extremely randomly...

Commenting out the API intialization fixes everything

2015-10-18 18:10:31.352 Eden[9145:776613] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSPlaceholderString initWithString:]: nil argument'
*** First throw call stack:
(0x1860f82d8 0x197dcc0e4 0x1860f8218 0x186f2c824 0x10046c1b0 0x1005b3794

[2015-10-19 01:28] mbalex99 commented on #55
This ended up going away after a clean build....

[2015-10-19 20:11] appcelerate commented on #55
+1

[2015-10-19 20:17] djih commented on #55
Hi @mbalex99 , you're saying if you comment out Amplitude.instance().initializeApiKey then it works? Does that mean you're trying to initialize it with a nil userId?

[2015-10-19 21:01] djih commented on #55
@appcelerate  care to comment ^ ?

[2015-10-19 21:02] mbalex99 commented on #55
No there's a userId.

This seemed to crash 50% of the times I ran the app. However as soon as I commented out `Amplitude.instance().initializeApiKey`

The errors no longer happen.

[2015-10-19 21:06] appcelerate commented on #55
Hi @djih,

i initialized it with
[code]

but i will get this crash
at " dispatch_sync(_queue, ^() {" line 147 in FMDatabaseQueue.m

with this reason:
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSPlaceholderString initWithString:]: nil argument'

[2015-10-19 21:15] djih commented on #55
Yep, found the issue. Thanks for bringing this to our attention. It will be patched in the next release.

[2015-10-19 22:12] djih commented on #55
https://github.com/amplitude/Amplitude-iOS/commit/bde59ab2c294710708a9aac6ed4ff7be3c45bae9 will be included in the next release

[2015-10-19 22:12] #55 closed

[2015-10-20 22:02] djih commented on #55
Patch is released with v3.2.0: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.2.0 please update your pod file

[2015-10-27 19:45] lewisskslipstone commented on #46
Please do this.  Cocoa pods are so invasive I hate to use it.

[2015-10-27 21:55] djih commented on #46
We will take a look into Carthage

[2015-11-05 09:04] srounce commented on #10
@allanca Is the queue size adjustable?

[2015-11-05 17:58] djih commented on #10
@srounce you should be able to. The queue size is saved under [Amplitude instance].eventMaxCount, and the default value is 1000. So after you initialize you can modify that value, something like this:

[[Amplitude instance] initializeApiKey:apiKey];
[Amplitude instance].eventMaxCount = 500;

[2015-11-12 19:13] aryaxt opened #59 "Cocoapods issue with Amplitude"
Getting errors on pod install, any thoughts?

[code]
Trying to use the latest version gives a different kind of error
[code]
We have over 10% of our users on iOS 7, and we can't change the deployment target

Here is my pod file
[code]

[2015-11-12 19:30] djih commented on #59
Can you try doing:
pod 'Amplitude-iOS', '~> 3.0.1'

[2015-11-12 19:32] aryaxt commented on #59
thanks for the quick response, 3.0.1 is causing this issue:
[code]

[2015-11-12 19:36] djih commented on #59
We don't have any dependencies on XMLDictionary. That error is caused by your AWSiOSSDKv2 pod: `pod 'AWSiOSSDKv2' , '2.0.16'`

[2015-11-12 19:36] #59 closed

[2015-12-11 23:20] mquigley-ck opened #63 "User properties doesn't clear anymore"
A recent update broke the `setUserProperties replace` method, where the `replace` parameter is ignored.
https://github.com/amplitude/Amplitude-iOS/commit/540a8e2c603fc7532a1ed421fda64cfb313126df#diff-2777663457a583bbf669698eaadec79bR1016

 On top of that, the README.md still describes using `replace`:

Previously, the following would clear user properties:

    [[Amplitude instance] setUserPropert

[2015-12-11 23:55] djih commented on #63
Hi @mquigley-ck, it's a little complicated but hopefully I can clarify for you.

You might be misunderstanding what the replace was doing in the first place, which is understandable because the naming is a little confusing. Before [v3.2.0](https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.2.0), userProperties dict was stored in the SDKs memory: https://github.com/amplitude/Amplitude-iOS/b

[2015-12-12 00:03] djih commented on #63
PS: apologies for the README being out of date. We will update it soon.

[2015-12-12 03:31] mquigley-ck commented on #63
Gotcha! It would be really helpful to have a `clear` option for certain use cases. Glad to know that clearing never worked; we'll figure it out.

[2015-12-14 17:59] #63 closed

[2015-12-14 18:03] mquigley-ck opened #64 "Allow user properties to be completely cleared"
There are many reasons that a full clear of the user properties is useful. Sometimes the user properties come from different sources (such as a server) where the keys are dynamically determined. Something like `[[Amplitude instance] clearUserProperties]`.

This would be useful in both the Android and iOS clients.

[2015-12-22 00:26] djih commented on #46
@alec-c4 can you elaborate? Under Manage Schemes, I see that our Amplitude and AmplitudeTests schemes are already shared. Is that what generates this? https://github.com/amplitude/Amplitude-iOS/tree/master/Amplitude.xcodeproj/xcshareddata/xcschemes

[2015-12-23 17:57] jeffexemine opened #67 "iOS 9 Deprecations"
In the Amplitude.m file, there are two methods in use that have been deprecated since iOS 9. The first is `CFURLCreateStringByAddingPercentEscapes` and the second is `sendAsynchronousRequest:queue:completionHandler:`. I just wanted to bring these to your attention, and hopefully get some updates to remove the use of these deprecated methods.

[2015-12-24 06:54] alec-c4 commented on #46
@djih sure. I'm planing to push something soon :)

[2015-12-30 06:46] djih commented on #67
@jeffexemine  thank you for bringing this to our attention!

[2015-12-30 14:35] ileitch opened #69 "Failed to get value for key opt_out from table long_store"
Hey, I just upgraded to 3.4.0, and I'm now seeing in the console: `Failed to get value for key opt_out from table long_store`.

Any idea what's causing this?

[2015-12-30 20:46] djih commented on #69
Nothing to worry about! It's just a warning because you haven't set a value for opt_out, which is okay. If it's an issue we will consider silencing it in the next release.

[2015-12-30 20:46] #69 closed

[2015-12-31 11:14] ileitch commented on #69
Does opt_out not default to NO? The docs seems to suggest it should.

[2015-12-31 11:15] ileitch commented on #69
Also, the frequency of the log line is quite high, making it a little annoying.

[2015-12-31 17:01] djih commented on #69
I have released v3.4.1 with the logging disabled: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.4.1. Please update and let us know if there are any more issues!

[2016-01-07 00:27] andrewpcone opened #71 "Broken isfinite causes NaN values to pass makeJSONSerializable"
[code]

This may be Apple's bug, but on iOS 9.1, isfinite(NaN) returns true, which leaves NaN's in the tree, which causes a crash when it's time to serialize.

https://github.com/amplitude/Amplitude-iOS/blob/81de6c4072a1e4a90203c6ff4e5176fd3c911743/Amplitude/AMPUtils.m#46

[2016-01-08 04:15] djih commented on #71
@andrewpcone : Thanks for reporting this. How are you setting NaN? Are you sending it as an event property or setting it as a user property (via setUserProperties or Identify)? I tried to recreate the crash by setting an event property to [NSNumber numberWithDouble:NAN] and it was able to serialize that as null.

[2016-01-10 00:37] djih commented on #64
@mquigley-ck we are adding this function to all our SDKs. It will be available in the next release. Here's the PR for the iOS SDK update: https://github.com/amplitude/Amplitude-iOS/pull/70

[2016-01-12 18:24] mquigley-ck commented on #64
Thanks dijh!

[2016-01-12 21:39] djih commented on #71
@andrewpcone can you provide a little more information around the crash? I'm having trouble reproducing it thanks

[2016-01-15 23:08] djih commented on #64
@mquigley-ck : clearUserProperties is now available in v3.5.0: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.5.0. Please update your Podfile. Thank you for waiting.

[2016-01-15 23:08] #64 closed

[2016-01-19 16:21] aryaxt opened #72 "Getting crashes"
We are seeing some crashes on iOS9 (100% on 9.2.0)
[code]

[2016-01-19 19:35] djih commented on #72
@aryaxt thanks for reporting this. In v3.4.0 we removed the FMDB library from our SDK. Can you update to the latest version and see if the crash still occurs? Thanks

[2016-01-19 20:18] aryaxt commented on #72
Thanks will update to latest version

[2016-01-19 20:18] #72 closed

[2016-02-02 09:33] josipbernat opened #73 "Undeclared use of identifier 'SQLITE_OPEN_READWRITE'"
I experienced this bug in version 3.2.1 when using through CocoaPods. Please check attached screenshot.
![untitled](https://cloud.githubusercontent.com/assets/2537227/12745185/5aef8046-c998-11e5-9ac3-059c45d387be.png)

[2016-02-02 20:21] djih commented on #73
@josipbernat we removed the FMDB dependency in v2.4.0. I recommend updating to the latest version of the SDK (v3.5.0)

[2016-02-02 20:21] #73 closed

[2016-02-11 04:09] aryaxt opened #76 "logRevenue and track different currencies?"
What's the proper way of tracking revenue and take different currencies into considerations? It doesn't seem like the existing methods accept the currency as a parameter

[code]

[2016-02-11 21:29] djih commented on #76
@aryaxt unfortunately our platform cannot handle different currencies at this time (both the SDK and the dashboard). We recommend you send all of your revenue info in the same currency.

[2016-02-11 21:29] #76 closed

[2016-02-11 21:37] aryaxt commented on #76
Thanks for the quick response
:beers:

[2016-02-12 10:12] djih commented on #19
@BrunoBerisso : our SDK doesn't have any crash support. You probably want to use something like Crashlytics for that

[2016-02-12 10:12] #19 closed

[2016-04-08 12:53] plashchynski opened #89 "tvOS Support"
Any chance?

[2016-04-14 18:53] djih commented on #89
@plashchynski  Sorry! We've been backlogged and haven't had the chance to test instrumentation on a demo tvOS app

[2016-04-21 23:53] mpurland commented on #46
@djih The target is a static library, not a framework.

[2016-04-27 15:17] ileitch opened #93 "ERROR: apiKey cannot be nil or empty, set apiKey with initializeApiKey: before calling logEvent"
This error pollutes our logs for development builds because we only enable Amplitude for builds that we distribute to other people.

Is there anything we can do to silence it?

[2016-04-27 19:20] djih commented on #93
@ileitch sorry unfortunately no way to silence it at the moment. I will add a debug flag to guard against these warning messages in the next release.

[2016-05-25 01:21] ILI4S commented on #46
carthage support would be great

[2016-06-02 23:14] ILI4S opened #100 "`Cannot create __weak reference in file using manual reference counting` error in Xcode 7.3"

[2016-06-07 22:42] maxrose opened #102 "upgradePrefs call guaranteed nil destination"
Having some issues with old users' migrating to the newer version of amplitude.

Inside of the initWithInstanceName: there is a call to upgradePrefs which is dependent on the _propertyListPath and _eventsDataPath being set. Otherwise the copyItemAtPath:toPath:error: with crash with a nil destination exception. However, the _eventsDataPath isn't set until after the upgradePrefs call is done and rel

[2016-06-07 23:09] djih commented on #102
@maxrose thank you for reporting the issue we are working on a patch now, will release before end of week

[2016-06-10 21:59] #102 closed

[2016-06-10 22:20] djih commented on #102
@maxrose patch has been pushed with [v3.7.1](https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.7.1), please update and sorry for the crashes

[2016-06-10 23:04] maxrose commented on #102
great! thanks @djih

[2016-06-14 01:19] djih commented on #93
@ileitch can I ask you what your use case is? The error is printed when you try to call an Amplitude function before you initialize. If you only enable it for certain builds, then shouldn't you only call the function if it is enabled?

[2016-06-14 01:23] ileitch commented on #93
Our app delegate contains this:
[code]

To avoid the warning we would need to put a similar condition around every point that we trigger an event, which would not be ideal.

[2016-06-15 06:41] djih commented on #93
You can disable error messages in v3.8.1: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.8.1

[2016-06-15 06:41] #93 closed

[2016-06-15 15:52] ileitch commented on #93
Thanks, but I think I'd rather just live with this minor annoyance than disabling _all_ error messages, I may silence something that's actually important.

[2016-07-07 15:28] frootloops opened #107 "_"

[2016-07-07 15:40] #107 closed

[2016-08-06 20:03] lewissk commented on #46
is there still no carthage support?

[2016-08-17 23:03] djih commented on #46
Carthage support added in v3.8.4.

Instructions:
If you are using Carthage, add the following line to your Cartfile: `github "amplitude/Amplitude-iOS"`. Just add `#import "AmplitudeFramework/Amplitude.h"` to import all of the Amplitude header files.

[2016-08-17 23:03] #46 closed

[2016-08-19 23:17] djih commented on #46
Just a quick update for people following this thread, @lexrus was able to rename the framework so that instead of `AmplitudeFramework`, you do `#import "Amplitude/Amplitude.h" instead. We re-released v3.8.4 yesterday. Just do a `carthage update` to pull the change.

[2016-09-28 17:53] dedeexe opened #117 "AMPIdentify set Property isn't working with Swift"
AMPIdentify loses reference to **property** and **value** parameters when reach **addToUserProperties: property: value:** function. Both parameters is nil when it reachs this point.

[2016-09-28 18:11] #117 closed

[2016-10-24 19:20] aryaxt opened #120 "Getting crashes on iOS 10"
[code]

[2016-10-24 20:31] djih commented on #120
@aryaxt thanks for reporting! How often/many times are you seeing this crash?

[2016-10-29 15:48] aryaxt commented on #120
Here is the crashlytics report
<img width="1197" alt="screen shot 2016-10-29 at 8 05 34 am" src="https://cloud.githubusercontent.com/assets/3460069/19830973/57b1ff4e-9db4-11e6-954c-465029911485.png">

[2016-10-31 20:20] djih commented on #120
@aryaxt yep we're looking into it. Something changed in iOS 10 with regards to ARC and ref counting I think, which is causing this crash

[2016-10-31 23:11] djih commented on #120
@aryaxt I'm wondering if its related to this: https://github.com/amplitude/Amplitude-iOS/issues/100. I'm going to push a patch for that today. How did you guys work around that build error?

[2016-10-31 23:59] djih commented on #100
Sorry for the delay, pushed the fix with v3.10.1: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.10.1

[2016-10-31 23:59] #100 closed

[2016-11-01 00:00] #71 closed

[2016-11-05 00:37] aryaxt commented on #120
@djih we did not have a build error, thanks will update to the latest version and see if it fixes the issue

[2016-11-05 12:59] lexrus commented on #120
I was using 3fdd8f3c635ea12916dfe21d84267e56f1936b0e for more than 1 month and everything works fine. But after upgrading to the latest 3.10.1, the app keeping crash on my iOS 10.1.1 iPhone. My app was wrote in Swift, I can't address the issue even in debug mode.

[2016-11-05 19:08] banshchikov opened #122 "AMPRevenue. Price for other currencies?"
Hi there!

For now if you want to track revenue you can only use "USD" currency. Is it possible to track revenue in other currencies (e.g. CHF, RUB)? SKProduct contains price only in local currency.

[2016-11-06 18:47] aryaxt commented on #120
hmm looks like the crash is not happening anymore. Will keep an eye on it for a while
<img width="1208" alt="screen shot 2016-11-06 at 10 42 58 am" src="https://cloud.githubusercontent.com/assets/3460069/20040510/0cf86ea6-a40e-11e6-8e39-a191ad8838b6.png">

[2016-11-07 20:01] djih commented on #120
@aryaxt thanks for the update

@lexrus that's weird. The only thing that changed in 3.10.1 was setting build setting "weak references in manual retain release" to true: https://github.com/amplitude/Amplitude-iOS/commit/041f2baed7888186c9bddcffba4728ef2762ba11. That's needed because Xcode 7.3 and Xcode 8 will give build errors without the flag. Any more information you can provide?

[2016-11-07 20:18] djih commented on #122
@banshchikov you will need to do the currency conversion yourself before sending the data to Amplitude. See the important note: https://github.com/amplitude/Amplitude-iOS#tracking-revenue

[2016-11-07 20:18] #122 closed

[2016-12-12 13:39] fabb commented on #13
But when keeping the reference, there is another bug: after the app goes to background and gets active again, the `currentRadioAccessTechnology` is `nil` - until the connection speed changes again.

[2017-01-12 16:10] vimacs opened #128 "Debug Logging in Swift Files"
Is it possible to debug log also in Swift files or is it currently an objc only feature?

[2017-01-13 01:35] djih commented on #128
@vimacs the debug logging is a flag in the Amplitude SDK objective c files. Even if your app is in Swift, I think you should still be able to view the SDK source files in objective c and modify the flag value right?

[2017-01-13 10:18] DrikABrak opened #129 "Export IPA Ad Hoc Bitcode problem"

[2017-01-13 10:21] #129 closed

[2017-02-02 20:23] #120 closed

[2017-02-02 20:24] djih commented on #89
@plashchynski sorry for the delay, we officially added support for tvOS in v3.13.0: https://github.com/amplitude/Amplitude-iOS#tvos

[2017-02-02 20:24] #89 closed

[2017-02-03 06:31] ileitch opened #132 "Dependency Analysis Warnings"
After updating to 3.14.0 I'm now seeing these warnings in Xcode:

[code]

[2017-02-28 12:31] biancaFarcas opened #134 "Undefined symbols for architecture i386"
Hi,
 I was trying to integrate Amplitude in my React-Native app but i receive this error:
Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_Amplitude", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture i386

I have to mention that at some point it was working, but not anymore.

[2017-02-28 19:31] djih commented on #134
@biancaFarcas we don't officially support React-native, but I can try to help. How are you integrating it into React-native? When you say it was working at one point, do you know which SDK version that was?

[2017-03-01 06:34] biancaFarcas commented on #134
First, thank you for your help. I used the las version of amplitude. About integration, I put the Amplitude sub-folder in the root of my project, added -lsqlite3.0 to Other Linker Flags and imported amplitude header in my AppDelegate.

[2017-03-15 04:24] djih commented on #132
@ileitch this has been fixed with v3.14.1: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.14.1

[2017-03-15 04:24] #132 closed

[2017-03-15 16:07] numen31337 opened #138 "Is macOS expected to be supported?"
It has been a long time since this library was released and there is still no support for macOS. For companies that support versions of applications for iOS and macOS, this imposes certain difficulties in the support of several analytic systems. Are there any plans to eliminate this shortcoming?

[2017-03-28 10:26] santhoshrajs opened #140 "APP Extension- Error-sharedapplication is unavailable:not available on ios(App extension)"
Hi ,
I am using pod file to install amplitude framework for both app and extension.
 pod 'Amplitude-iOS', '~> 3.7.0'

Once i install i am getting error in Amplitude.m.
sharedapplication is unavailable:not available on ios(App extension)
Could any one help me how to use Amplitude for app extension.

[2017-03-28 19:03] djih commented on #140
Hi @santhoshrajs we did not add support for extensions until v3.8.0: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.8.0. But I highly recommend updating to our latest version v3.14.1: https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.14.1

[2017-03-28 19:03] #140 closed

[2017-03-29 22:18] santhoshrajs opened #141 "App Extension -Issue"
Hi ,
@djih
As you said i have updated to 3.8.0 i am able to use the sdk for both app and app extension.
but the events from app extension not reflecting in dashboard.Kindly help me

[2017-04-13 14:51] jaimevz27 opened #142 "[NSFileManager copyItemAtPath:toPath:options:error:]: destination path is nil"
Hello,

Im using Segment-Amplitude SDK to send data to Amplitude but there is some session tracking issue that requires to include Amplitude-iOS SDK too. We include the library and everything was working fine with our beta testers, but when my app went into production, some users started to experience crashes.

I'm writing you guys because i couldn't figure out what is causing this error. it happe

[2017-05-02 13:46] azeff opened #144 "Strange crash"
Hey.

I've seen a couple crashes in swift code:
[code]

Where timezone and token are `String`, i.e. are not optional values, and `ApiDeviceInfo` is simple struct.
[code]

So, the only thing that can crash here is `Amplitude.instance().deviceId`, moreover crashlogs point to exact line `amplitudeDeviceId: Amplitude.instance().deviceId)`.

The above code is executed in `applicationDidBecomeActive`. W

[2017-05-03 19:43] djih commented on #144
@azeff I think it might be a timing issue. The deviceId is only available after the SDK is initialized, which happens on a background thread so that it doesn't block your app's main thread. The issue with that is that it's hard to guarantee when that deviceId will be available to the main thread. We will need to investigate a little more. Have you tried reading the deviceId from somewhere other th

[2017-05-03 23:54] philippb commented on #138
I opened a PR a while ago. We never managed to get it in.
We had Amplitude working fine with OSX. See : https://github.com/amplitude/Amplitude-iOS/pull/74

[2017-05-04 12:32] azeff commented on #144
@djih thanks for response. It may indeed be a timing issue. We have not tried to read `deviceId` anywhere else, need to review this peace anyways.

Do you plan to annotate ObjC code?

[2017-05-05 20:01] djih commented on #142
This was patched in [v3.7.1](https://github.com/amplitude/Amplitude-iOS/releases/tag/v3.7.1). Please update your Segment-Amplitude integration. The latest version will use v3.14.0 of Amplitude's iOS SDK

[2017-05-05 20:01] #142 closed

[2017-05-09 13:44] lovette commented on #138
I'd love to see official support for macOS too. In general, it feels like vendors are giving up on desktop app analytics solutions. Mixpanel [announced macOS support](https://github.com/mixpanel/mixpanel-iphone/releases/tag/v3.1.2) in March, so maybe the tide will turn.

[2017-06-01 18:33] ronaldsmartin opened #145 "Race condition in [Amplitude enterForeground]"
Hello!

FYI, using the Thread Sanitizer in our codebase reveals a race condition [in the `enterForeground` method](https://github.com/amplitude/Amplitude-iOS/blob/master/Amplitude/Amplitude.m#L1071):

[code]

This is not affecting our usage, but figured it might be worth investigating as your time permits. Thanks for your work!

[2017-06-24 05:14] nikolaenkoag commented on #67
Will there be updates to remove the use of these deprecated methods?

[2017-06-24 05:48] nikolaenkoag commented on #138
Is there any news about macOS support in Amplitude?

[2017-08-01 17:56] Volcore commented on #67
This is a blocker, any updates on this?

[2017-08-02 20:20] djih commented on #67
@Volcore how big of a blocker? I know the methods are deprecated but the functionality is still there

[2017-08-02 21:14] Volcore commented on #67
it does not compile for iOS 11 on Xcode 9 Beta 4. I had to manually replace the functions myself, but I'm not very confident that it is functioning correctly and rather have an official working version.

[2017-08-07 15:28] Volcore commented on #67
Currently receiving this error once i start adding parameters to events:

ERROR: Connection response received:400, bad_checksum

It happens in one of the deprecated functions i had to replace, so it seems likely to be related. Please advise.

[2017-08-07 19:23] djih commented on #67
@Volcore what parameters are you adding to events? I'm currently pretty busy but I might have time later this week to replace the deprecated methods

[2017-08-08 11:25] Volcore commented on #67
It's an NSDictionary with string -> string and string -> nsnumber mappings.

[2017-08-09 20:58] bradmill commented on #67
I have l raised an online ticket for this as well, so would appreciate the calls been updated officially. Many thanks

[2017-08-14 21:46] djih commented on #67
Just a quick update, I have  WIP branch here: https://github.com/amplitude/Amplitude-iOS/tree/replace-deprecated-methods. I've replaced the 2 deprecated methods and updated the unit tests. I'm still working on updating the SSL pinning logic but feel free to test what I have so far if you don't need SSL pinning.

[2017-08-15 14:57] Volcore commented on #67
Still getting an issue on that branch:

![screen shot 2017-08-15 at 16 56 37](https://user-images.githubusercontent.com/95790/29321466-c986bbea-81da-11e7-944a-e916cb69bd45.png)

[2017-08-15 19:58] djih commented on #67
@Volcore ah yea I think we can get rid of the ARC logic around the url encoding. I pushed an update to the branch

[2017-08-17 14:00] Volcore commented on #67
Still getting the "ERROR: Connection response received:400, bad_checksum" when I'm trying to send the following dict:

Code:
[code]

Log:
[code]

[2017-08-21 18:52] djih commented on #67
@Volcore seems like it could be a serialization issue. Are all of your event property keys strings? Are the values all either numbers of strings?

[2017-08-22 15:48] Volcore commented on #67
the values are either NSNumber or NSString. I'm constructing the dict like this:

[code]

from an internal JSON object.

[2017-08-29 00:23] djih commented on #67
@Volcore the code you shared makes sense and seems to encode the values correctly. Is there a way for you to double check that is actually the case?

I tried testing it out myself using the properties you shared from your log:
[code]

The SDK was able to send the event successfully (using the new iOS 9 methods), and I'm seeing the properties in Amplitude's user timeline:

![screen shot 2017-08-28

[2017-09-04 07:34] frootloops commented on #145
Any updates on this?

[2017-09-06 22:21] Volcore commented on #67
I looked further into it. I've found that I only get the 400 error above if there is a string that contains the ';' character. Reproducer:

[code]

This will error for me as well (while your example works fine). Worse even, if this happens the uploader is stuck and will not progress -- it will never work again, as it'll try to reupload this event every single time. I've added a check locally to ki

[2017-09-13 21:35] djih commented on #67
@Volcore did not realize that I somehow replaced all the semicolons with commas, it's weird that that would break JSON serialization.

Ok then I should be good to release the fix as a new version. Expect to see that either today or tomorrow.

[2017-09-14 20:00] djih commented on #67
Still have to add support for SSL pinning so will be delayed

[2017-09-18 22:50] djih commented on #67
@Volcore I was able to fix the semicolon checksum issue, so you can remove your local check and continue using semicolons in your strings. Released the fix in [v4.0.0](https://github.com/amplitude/Amplitude-iOS/releases/tag/v4.0.0)

[2017-09-18 22:50] #67 closed

[2017-09-19 12:20] romk1n opened #147 "application state being called from background thread"
We getting this warning in the log can you guys check your code?

```Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]```

[2017-09-19 18:06] djih commented on #147
@romk1n thanks for reporting. What version of the SDK are you on?

[2017-10-09 12:51] TimothyDavidW commented on #147
Hi I am also experiencing this on 4.0.1 after updating to ios11.

Backtrace:
4   Amplitude_iOS                       0x000000010537c8f4 -[Amplitude initializeApiKey:userId:setUserId:] + 684
5   Amplitude_iOS                       0x000000010537c580 -[Amplitude initializeApiKey:] + 84

line 480 in the amplitude.m is where this is occurring.

[2017-10-09 14:46] romk1n commented on #147
@djih sorry missed your message it is latest and previous version. Thanks.

[2017-10-11 14:25] danielgalasko commented on #147
Any update on this? Its actually crashing our CI now for some reason

[2017-10-13 20:28] djih commented on #147
@danielgalasko @romk1n I have a fix on a branch. I've tested it myself in our demo app but if you guys have a chance can you test it out? To install via Cocoapods: `pod 'Amplitude-iOS', :git => 'https://github.com/Amplitude/Amplitude-iOS.git', :branch => 'main-thread-violation'`. Otherwise I will just merge it and release a new version EOD today, thanks

[2017-10-13 22:49] #147 closed

[2017-10-13 22:54] djih commented on #147
This is fixed with [v4.0.2](https://github.com/amplitude/Amplitude-iOS/releases/tag/v4.0.2) thanks!

[2017-10-14 18:12] ronaldsmartin opened #151 "CTTelphonyNetworkInfo warning on every log call"
@djih, I'm investigating a bunch of noisy console logs in PlanGrid that look like this:

I've traced them to [this line in the code](https://github.com/amplitude/Amplitude-iOS/commit/3e572f00a0daaf64060f89da28a0477a245c8c69#diff-5b544a3ed369cdff94b61baccfb0d6fbR85) that you recently updated. Per [this Stack Overflow answer](https://stackoverflow.com/a/44844688/4499783), iOS prints out the warning

[2017-10-16 13:01] danielgalasko commented on #147
awesome stuff!!! Thanks for the release @djih 🙌

[2017-10-16 18:09] djih commented on #151
@ronaldsmartin the logic is supposed to fall back to a string "Unknown" but wasn't correct. I have a fix but it will effectively turn all of your carrier = (None) user properties to carrier = "Unknown". Will that impact any analysis that you guys are doing?

[2017-10-16 18:10] romk1n commented on #147
@djih thanks, I just tried new version and still receiving the warning ```[reports] Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]```

[2017-10-16 18:11] djih commented on #151
Alternatively I can keep the `nil` value and remember that I already attempted the lookup.

[2017-10-16 18:36] djih commented on #147
@romk1n do you have more information like stack trace? When investigating the issue I was able to reproduce the warning in our iOS Demo app, and I verified that the fix stops the warning.

[2017-10-16 21:33] djih commented on #151
@ronaldsmartin the fix has been pushed with v4.0.3: https://github.com/amplitude/Amplitude-iOS/releases/tag/v4.0.3

[2017-10-16 21:33] #151 closed

[2017-10-16 22:29] ronaldsmartin commented on #151
Things are looking good! Thanks, @djih. 👍

[2017-10-27 00:07] rob-keepsafe commented on #138
We've added a PR for this here, based off the latest version 4.04: https://github.com/amplitude/Amplitude-iOS/pull/155

[2017-11-08 18:25] SudoPlz opened #156 "Another iOS crash"
Here's the stack trace:

[code]

Amplitude-iOS 3.14.1

[2017-11-09 19:58] harelw opened #157 "Xcode 9.0.1 / Swift 4 Compiler Warning"
I am using Amplitude-iOS 4.0.4 via CocoaPods 1.4.0.beta.2 and `platform :ios, '10.0'`

Deployment target for iOS project is also set to 10.0

The following is the Xcode compiler warning:

[2017-11-09 20:26] djih commented on #156
Thanks for reporting @SudoPlz . Are you able to reproduce this? It looks like a malloc error when trying to open the sqlite3 database, which is really weird.

[2017-11-09 23:32] SudoPlz commented on #156
Hey @djih. I received this on our bug tracker today, so unfortunately I don't have a good way to reproduce this.

I do have the operations taking place at each thread though, but I don't think that will help a lot to be honest.

What can I do to help you fix this?

[2018-02-24 02:00] harryblam opened #159 "Crash in AMPDatabaseHelper.m line 195"
I am using Amplitude-iOS (4.0.4).

Crashlytics reported an crash today as:
_Crashed: com.amplitude.db.queue
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000009_

I cannot reproduce this issue, however will attach the crash report
[AMPDatabaseHelper  crash export.txt](https://github.com/amplitude/Amplitude-iOS/files/1753918/AMPDatabaseHelper.crash.export.txt)

[2018-02-27 05:36] harryblam commented on #159
Just seen this happening when testing on simulator also! See screenshot for exception breakpoint.
<img width="1181" alt="screen shot 2018-02-27 at 18 23 23" src="https://user-images.githubusercontent.com/2333536/36712292-0494bd66-1bed-11e8-8a4f-d5d98b101c28.png">

[2018-04-03 16:24] maradic opened #161 "Offline event cache"
Is there any built in option to cache events when i'm offline? I could not found it in documentation?

[2018-05-09 00:16] zmian commented on #157
There are tons of warning in Xcode 9.3

<img width="392" alt="screen shot 2018-05-08 at 8 15 48 pm" src="https://user-images.githubusercontent.com/621693/39789238-a73cc342-52fc-11e8-89b3-d7d5c79a6408.png">

[2018-05-15 13:22] IuriiIaremenko opened #164 "Amplitude-iOS pod produce a lot of warnings"
Amplitude-iOS v4.2.0 pod produce a lot (57 issues in particular) of warnings:

We are using swift 4.1 in our project and trying to keep clean build.

[2018-05-16 02:14] yujiahuang commented on #128
Sorry to reopen this, but modifying the SDK source files just to get debug logging to work doesn't seem quite right. Shouldn't it be some switch that developers can turn on/off inside the app and outside the source files?

[2018-05-16 23:17] djih commented on #164
Thanks for reporting! Expect this fix to go out soon: https://github.com/amplitude/Amplitude-iOS/pull/165

[2018-05-16 23:18] djih commented on #161
@maradic events are logged to a database table on the device and uploaded in batches. If the upload succeeds, those events are cleared from the table. If the device is offline and cannot upload events, they will continue to log to the database until connection is re-established. There is a default limit of 1000 unsent events allowed in the table, after which it will start dropping events starting

[2018-05-16 23:18] #161 closed

[2018-05-17 09:03] maradic commented on #161
@djih thank you. Is there any time limit beside number limit?

[2018-05-17 18:11] djih commented on #161
@maradic no time limit. The unsent events should remain unless the user clears app data or uninstalls.

[2018-05-27 00:56] zmian commented on #157
thank you @djih!

[2018-08-24 23:06] jaltreuter opened #168 "App Store Connect issues a warning for usage of location APIs without a purpose string"
My app has included this library for many releases now, without issue.  Today though when I submitted an update to App Store Connect, I received an automated warning.  I've quoted it at the bottom here, but effectively it says that we're accessing user location data and should provide NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription keys to explain why we need this user dat

[2018-08-27 12:43] genadyo commented on #168
Same here 😥

[2018-08-27 18:41] djih commented on #168
@jaltreuter @genadyo you can disable location listening in our iOS SDK by calling `[[Amplitude instance] disableLocationListening]` before `initializeWithApiKey`. Would that be enough to get around the automated warning?

[2018-08-27 18:41] #164 closed

[2018-08-28 16:33] jaltreuter commented on #168
@djih unfortunately no, I just tried that now and got the same warning message from App Store Connect.  I think they just check for references to CLLocation anywhere as opposed to performing static analysis on the binary.

[2018-08-28 16:37] seanchoe commented on #168
I'm literally dealing with this issue right now too 😁

[2018-08-28 16:44] jaltreuter commented on #168
To be clear, as best I can tell this warning isn't going to block the release of our app (although I haven't submitted for review since I started getting the warning) and no location permission prompt is shown when running the app.  @seanchoe have you run into any issues beyond just a warning?

The reason I've filed an issue is because my app has no valid reason to ask for users' locations, so the

[2018-08-28 16:54] seanchoe commented on #168
@jaltreuter Yes, it's just a warning for now, but it seems Apple will force it starting in spring 2019.

I think there are two options now, before Amplitude could have a version without the location code.

1. You just add the purpose string. As long as you don't use the location service, the users of your app won't see this message I think.
2. Fork this repository, and remove the location code.

F

[2018-09-06 09:26] waitingsnow opened #169 "setUserId:(NSString *)userId in swift did not have option value"
when user logout, we can not clear user id

[2018-09-15 03:43] dkpalmer opened #170 "Feature Request: Method to set app version"
We have an iPhone app built with React Native that we push updates to using a service called Code Push. When we push Code Push updates, we would like to associate all Amplitude events in that code to a different Version than the actual binary. E.g.

1) We release '1.0' to the App Store. The version associated with events in Amplitude is '1.0'
2) We push '1.0 update 1' over Code Push. We would like

[2018-09-18 00:34] pmanuelli opened #171 "iOS12 crashes in AMPDatabaseHelper"
Hello everyone!

We're using Amplitude-iOS 4.3.1. and we're are having some crashes related to AMPDatabaseHelper in iOS 12 (I think it happen too in previous Amplitude-iOS version).

I can't reproduce any of this issues.
I leave attached the crashes reports.

Thanks in advance.
Pablo.

[inDatabaseWithStatement_issue.txt](https://github.com/amplitude/Amplitude-iOS/files/2390695/inDatabaseWithStatem

[2018-09-18 17:11] ghugues commented on #171
Hi,

We're experiencing the same issue. With version 4.3.1 on iOS 12 we're seeing a very important number of crashes in AMPDatabaseHelper relative to the number of users currently using iOS 12. We're expecting the total number of crashes to raise rapidly as users move to iOS 12.

We haven't reproduced this issue yet. I'm attaching two distinct crash reports from our crash reporting tool.
[30238166

[2018-09-18 17:16] djih commented on #171
@pmanuelli @ghugues thanks for the report. I'm investigating the issue but not able to reproduce it myself. My initial hypothesis is that there are multiple threads trying to access the Sqlite database.

@ghugues in both of your crash reports, I am seeing at least 2 threads (one of which is Amplitude's SDK) trying to access Sqlite, and another maybe from your app or another library you are using.

[2018-09-18 17:36] ghugues commented on #171
@djih That was my initial hypothesis, but although it seems to happen a lot less often, I have examples of this crash without any other thread using Sqlite.
[ee05116bb5202034e2fb8502de1d62e2.log](https://github.com/amplitude/Amplitude-iOS/files/2393885/ee05116bb5202034e2fb8502de1d62e2.log)

[2018-09-18 17:51] pmanuelli commented on #171
@djih Thanks for your answer. If I'm not wrong, the attachments that I provided earlier contains the full stack trace and includes other threads too.

Indeed, it seems that other threads are trying to access Sqlite too.

[2018-09-18 18:06] djih commented on #171
@pmanuelli sorry you're right the full traces are there.

It's weird because our database helper hasn't changed much in the last 2-3 years, especially the logic around the queueing and enforcing single-threaded access to the database. I wonder if something changed in iOS 12 that affects and breaks this behavior.

If the issue is that multiple threads / libraries are trying to use Sqlite database,

[2018-09-18 18:44] ghugues commented on #171
It seems the example I gave you about a single thread using Sqlite might be a false positive. Although there is no `sqlite3_` function in the stack trace, one third party SDK is still in the process of doing Sqlite related work. So it is possible that the crash is still related to having multiple Sqlite databases opened at the same time.
Also, in the stacktraces @pmanuelli and I gave you, other th

[2018-09-20 19:18] ghugues commented on #171
Hi,
Any news on this issue ?

[2018-09-20 20:02] pmanuelli commented on #171
Hi @ghugues.

We have not news about this issue. We've submitted a bug report to Apple about SQLite on iOS12, but have no answer so far.

As a workaround we have removed Singular from our app..

Maybe other workaround could be to put to delay between the initialization of the SDKs that access to SQLite and try to avoid the simultaneous access. Not a good solution, I know.

[2018-09-21 12:13] ghugues commented on #171
@djih After further investigation, I've come to the same conclusion as @pmanuelli. The Apsalar might be the real culprit after all (the Apsalar SDK seem to be included in the Singular SDK).

I noticed that contrary to Firebase and Amplitude, the Apsalar SDK very rarely uses the database, so it was weird that it was always involved in crashes. It turns out that this SDK executes the following code

[2018-09-21 12:28] ghugues commented on #171
@pmanuelli thanks. I should have mentioned that all of this is still guess work. I cannot remove the Apsalar SDK at the moment, so I con't confirm anything. Can you please report here if removing the SDK has solved the issue on your side ?

[2018-09-21 14:15] pmanuelli commented on #171
@ghugues yes, in our case removing Singular SDK makes the crash disappear. But, of course, this is just a workaround.

[2018-09-21 15:48] dimapv commented on #171
Hey guys, I'm from the mobile dev team at Singular - and we'll be releasing a fix shortly.

Thanks for the thorough investigation @pmanuelli & @ghugues, that code is indeed in our SDK and is our attempt at making sure that SQLite is running in thread-safe mode before using it.

We weren't aware of the unsafe nature of `sqlite3_shutdown` between threads and indeed up until now it didn't cause any t

[2018-09-21 16:51] rajusa420 commented on #171
@ghugues - Thank you for posting the detailed analysis, we are hitting this crash as well but your analysis also made me realize that while setting the sqlite mode to SQLITE_CONFIG_MULTITHREAD was fine for our database access other SDKs in our app might depend on it being  SQLITE_CONFIG_SERIALIZED

[2018-09-22 14:19] ghugues commented on #171
Hi,

If you are using SQLite in your app or in a third party SDK, I really recommend you read the official documentation about [Using SQLite In Multi-Threaded Applications](https://www.sqlite.org/threadsafe.html), as well as related ressources.

Let me make a recap of what I have read here and there since I started investigating this bug.

The SQLite library included in iOS is compiled with `SQLIT

[2018-09-23 19:02] pmanuelli commented on #171
@dimapv thank you! I will try this new version and let you know if the issue has gone.

[2018-09-24 20:35] numist opened #172 "SQLite connection object leaked when sqlite3_open fails"
Unless the system is out of memory, `sqlite3_open` will always return a connection object regardless of success. From the [SQLite website](https://www.sqlite.org/c3ref/open.html):

I haven't checked every `sqlite3_open` call site, but it looks like the error path in `-[AMPDatabaseHelper inDatabaseWithStatement:block:]` returns without calling `sqlite3_close`.

[2018-09-24 20:50] numist commented on #171
In general, using `sqlite3_config` from library code is not recommended as it affects all other code in the process. Its use should be reserved for the top layer, where no one else can be blamed (or hurt).

Many global options have [connection-local analogues](https://www.sqlite.org/c3ref/c_dbconfig_enable_fkey.html) set via [`sqlite3_db_config`](https://www.sqlite.org/c3ref/db_config.html).

[2018-09-24 20:58] numist commented on #156
This stack is consistent with heap corruption in the process. What builds of iOS reported this crash?

[2018-10-25 14:59] mobile-ar opened #176 "Pod Version 4.4.0 not released or updated in cocoapods"
Pod Version 4.4.0 not released or updated in `cocoapods`

[code]

Last released version is `4.0.4` from `October 23, 2017`

[2018-10-25 16:27] NanyiJiang opened #177 "Can't include iOS framework"
Followed the tutorial, added amplitude via carthage. compiles. I only added the line `import Amplitude` in our code so far. Program crashes on launch:

<img width="1127" alt="screen shot 2018-10-25 at 12 21 41 pm" src="https://user-images.githubusercontent.com/9128661/47515571-39e41680-d851-11e8-90c2-297c0e73a0db.png">
digged around and found this answer:

<img width="981" alt="screen shot 2018-10

[2018-10-29 22:15] djih commented on #177
@NanyiJiang the embedded binaries and frameworks section should be under the `SnapTravel` target under the `General` tab.

The Carthage documentation has instructions for adding frameworks to your iOS application: https://github.com/Carthage/Carthage#adding-frameworks-to-an-application

Alternatively you can also use Cocoapods to install our iOS SDK, and that process is simpler and more straight f

[2018-10-29 22:15] #177 closed

[2018-10-29 23:29] djih commented on #176
@mobile-ar  are you on an older version of Cocoapods?
4.4.0 is released and updated in Cocoapods: https://cocoapods.org/pods/Amplitude-iOS

I was able to verify in our test app:
[code]

[2018-10-29 23:29] #176 closed

[2018-12-08 18:39] ghugues opened #180 "Feature Request : Detect session id changes before they occur"
## Problem
We are trying to count the number of occurrences of some events within a session, and add this information as a property of these events.

For example, let's say we have some events categorized as "page views". For all the events we send (including events that are not page views) we want to include as a property how many page views have occurred within the current session. This would re

[2019-01-10 08:36] ghugues commented on #180
Hi,
I never received any feedback on this request. Is this not the right way to bring up issues ?
@djih

[2019-01-18 02:08] djih commented on #180
@ghugues apologies for the delay, I'm assuming you're at Le Monde? I have contacted your CSM and we will follow up with this feature request. Thanks!

[2019-01-22 10:19] ghugues commented on #180
Hi @djih
Yes I'm at Le Monde. Thank you for following up with this request.

[2019-02-11 10:36] ghugues commented on #180
Hi @djih
Any news on this request ?

[2019-02-12 19:28] dana11235 commented on #180
We have logged this request, and are considering it for the future.

[2019-02-13 22:11] makangus opened #184 "Unable to Carthage build for tvOS"
I am getting an error trying to carthage build for tvOS
`Dependency "Amplitude-iOS" has no shared framework schemes for any of the platforms: tvOS`

[2019-02-28 23:08] djih commented on #180
@ghugues thank you for your patience. We will do the first suggestion you made (making `startOrContinueSession` public. I just want you to know that if you call that method, you will potentially trigger the SDK to start a new session. It's not just a method to fetch the status of session changing.

[2019-03-01 01:21] djih commented on #172
@numist thanks for reporting, we will patch this in next update

[2019-03-06 20:08] ichina opened #191 "Flushing on moving to background state has broken in last release"
background task ends before receiving response from server.
here: https://github.com/amplitude/Amplitude-iOS/blob/f8b0322a68a71644dabd39c25dee6d309123ae4b/Amplitude/Amplitude.m#L1177

[2019-03-10 00:37] numist commented on #172
Fixed in #190

[2019-03-10 00:37] #172 closed

[2019-03-11 16:46] ichina commented on #191
@djih check it please

[2019-03-14 08:57] iwheelbuy opened #192 "use_modular_headers!"
I created a blank project with Xcode 10.2 beta 4 and added amplitude as a dependency using cocoapods:
[code]

And got an error while building the project:

If I remove ```use_modular_headers!``` from Podfile - everything works. Why?

[2019-03-30 04:29] vdugnist opened #193 "MinTimeBetweenSessionsMillis constant is different from documentation"
Documentation:
[code]

Actual value:
[code]

[2019-04-01 08:00] mhoeller-clue commented on #168
Seems like Apple started enforcing this now. Our latest build was rejected.

[2019-04-02 23:21] jaltreuter commented on #168
@mhoeller-clue at what point(s) in the submission process did your build get warnings or failures?

I hadn't noticed until just now, but in early September 2018 I stopped getting these warnings about my builds, despite changing nothing about my Amplitude integration or updating the cocoapod (I've been on version 4.2.1 since May 2018).  I've successfully submitted many app updates since then, the l

[2019-04-03 07:44] mhoeller-clue commented on #168
@jaltreuter We started to get the warning with the build we uploaded on the 1st of April. The only places CoreLocation is used are the Amplitude SDK and the Facebook SDK.

[2019-04-03 15:26] jaltreuter commented on #168
@mhoeller-clue just to make sure I understand correctly, you got just a warning when you uploaded the build, but when you submitted it for review it got rejected?  How have you mitigated that issue?  I'll be submitting a build for review soon and would like to reduce back-and-forth with the reviewers, so your insight is very helpful.

[2019-04-04 07:34] mhoeller-clue commented on #168
After uploading we got the email with the error message. We could not add the build to the upcoming @jaltreuter release, so we were not able to submit for review.
We fixed the issue by adding both NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription to info.plist. Because the value for those keys can't be empty or only a whitespace, we just put an emoji for now.

[2019-04-08 18:11] jaltreuter commented on #168
@mhoeller-clue just to share another data point, my app submission was approved despite the warning email.  My app doesn't have the Facebook SDK, so maybe that contains different code that increases the severity of Apple's response.  Thanks again for sharing your experience!

[2019-04-10 13:28] tarun1608 commented on #76
Hi @djih Is there any mechanishm available now to convert the currencies

[2019-04-14 22:07] ghugues commented on #180
Hi @djih
Better late than never: thank you for the release of this feature. I'm closing the issue.
Would you consider doing the same on Android ? Making `boolean startNewSessionIfNeeded(long timestamp)` public (https://github.com/amplitude/Amplitude-Android/blob/db9dfdd99c2149b4b97dc516c99bf10585ab2b98/src/com/amplitude/api/AmplitudeClient.java#L1178) ?
I can duplicate this issue on the Android re

[2019-04-14 22:07] #180 closed

[2019-04-15 18:40] djih commented on #76
@tarun1608  unfortunately still no mechanism. If you have a CSM you can try submitting a feature request through them. CC @blazzy

[2019-04-22 22:08] djih commented on #180
@ghugues expect the Android equivalent to go out by EOD: https://github.com/amplitude/Amplitude-Android/pull/195

[2019-04-22 22:25] djih commented on #180
@ghugues v2.23.0 is released (might take some time to sync to Maven). Thank you for your patience: https://github.com/amplitude/Amplitude-Android/releases/tag/v2.23.0

[2019-04-30 18:56] ghugues commented on #180
@djih Thanks a lot for your work.

[2019-05-06 11:55] iwheelbuy commented on #192
It was a cocoapods bug.

[2019-05-06 11:55] #192 closed

[2019-05-16 10:50] gerchicov-bp opened #195 "How to log event property with empty value?"
Swift:
`Amplitude.instance().logEvent("SomeEvent", withEventProperties: ["SomeKey": ""])`
works like "event with not properties" and there is no info about avoiding passing empty strings as values in the official documentation.
Is there an official way to post empty string (or other empty value) to amplitude? Or maybe is it a bug?

[2019-05-23 00:25] dkpalmer commented on #170
Bump. Any chance something like this is possible?

[2019-06-28 11:00] abekert opened #196 "Add nullability marks for better Swift compatibility"
It's better to mark properties and parameters nullability in your Objective-C SDK. Please, look at [the article](https://developer.apple.com/documentation/swift/objective-c_and_c_code_customization/designating_nullability_in_objective-c_apis), or at the [other one](https://developer.apple.com/swift/blog/?id=25) where it's explained.

A quick example — I don't know am I allowed to pass `nil` as `va

[2019-07-22 06:03] wangchou commented on #192
@iwheelbuy
I just met the same issue on Cocoapods 1.7.3 & Amplitude-iOS 4.6.0
Did you found a solution for it? Which issue should I track in cocoapods repo?

[2019-07-22 06:08] iwheelbuy commented on #192
I believe It was fixed in 1.7.1: [issue](https://github.com/CocoaPods/CocoaPods/issues/8836)

I've just checked. I'm on 1.7.4 Cocoapods & 'Amplitude-iOS', '4.6.0'.
Try cleaning the derived data and etc... It should work!

[2019-07-23 21:32] chestnut-wm opened #197 "Device ID isn't updated after calling useAdvertisingIdForDeviceId"
We are using the Amplitude SDK (4.3.1) and want to migrate to using the IDFA as the DeviceID.

Calling `useAdvertisingIdForDeviceId()` right before initializing the SDK though we aren't seeing the IDFA listed as DeviceID.

I added the following validation check

[code]

The two IDs don't match if the app had previously set up the SDK without the `useAdvertisingIdForDeviceId` call. But If I delete

[2019-08-28 13:32] rintoandrews90 opened #200 "App close event can not be tracked"
I have tried to tack on app close. but event log not found in amplitude. I am able see all other events in dashboard

please check code given

[code]

[2019-09-10 12:33] sjsoad opened #202 "WatchOS standalone apps support"
Hi, will you update your SDK to support WatchOS standalone apps?

[2019-09-10 23:06] sjmueller opened #203 "Please support Swift Package Manager"
Now that Xcode 11 has reached GM Seed, the seamless integration of Swift Package Manager into the IDE undoubtedly makes it the preferred installation method.

Please consider adding support for `amplitude-ios`, thanks.

[2019-09-16 19:27] rob-keepsafe opened #204 "[iOS 13] Crash on NSLog statements for SSL pinning"
Hi there 👋

We're seeing some crashes in iOS 13 for `NSLog` statements within `ISPCertificatePinning`: https://github.com/amplitude/Amplitude-iOS/blob/master/Amplitude/SSLCertificatePinning/ISPCertificatePinning.m#L58

👉 This was actually our largest crash in production.

We went ahead and commented out all of the `NSLog` statements for now. These should ideally be wrapped in a `DEBUG` check anywa

[2019-09-20 20:57] sputh commented on #204
This is resolved per https://github.com/amplitude/Amplitude-iOS/pull/205

[2019-09-20 20:57] #204 closed

[2019-09-20 21:00] rob-keepsafe commented on #204
Thanks @sputh !

[2019-09-23 21:02] claudiogomezGL commented on #203
Hi @sputh @blazzy, is there any chance we can have the SPM support in the near future?

[2019-09-24 21:34] manan19 opened #206 "Crashed: BACKGROUND (QOS: UNSPECIFIED) in endBackgroundTaskIfNeeded"
- It happens in the background
- iOS 13 only

Here's the stack

[code]

[2019-09-24 21:36] manan19 commented on #206
@sputh @djih if you can please take a look. Thanks!

[2019-09-25 04:47] sputh commented on #206
@manan19 thanks for the stack trace. I'll take a look at it

[2019-09-26 00:32] sputh commented on #206
hi @manan19 do you have repro steps? When I try to trigger this, I'm getting this error instead:
[code]

[2019-09-26 17:16] manan19 commented on #206
Unfortunately, we have not been able to repro this locally yet.

[2019-09-26 18:11] sputh commented on #206
@manan19 i have an idea of how to fix it. It should be out by end of week :)

[2019-10-02 05:51] manan19 commented on #206
@sputh Looks like there was a similar issue with Firebase https://github.com/firebase/firebase-ios-sdk/pull/3838/files

[2019-10-02 19:45] rob-keepsafe opened #208 "[iOS 13] Crash within makeEventUploadPostRequest"
Hi there again 👋

We're seeing a new set of crashes in both iOS 13.0.x and 13.1.x (the gift of crashes that Apple keeps giving).

Oddly enough, the crash points to `NSString *apiVersionString = [[NSNumber numberWithInt:kAMPApiVersion] stringValue];` here: https://github.com/amplitude/Amplitude-iOS/blob/master/Amplitude/Amplitude.m#L1000

This might be a crash internal to iOS 13 itself, but wanted

[2019-10-07 16:06] sputh commented on #206
@manan19 that was the inspiration for the PR: https://github.com/amplitude/Amplitude-iOS/pull/207

Without repro steps, I'm not 100% confident this will work, but i'll get it merged and deployed today. If you don't mind, I'd love for you to run another round of tests and see if this resolves the issue.

Thanks,
Sam

[2019-10-07 23:25] Aequitas737 opened #210 "Can't build app for ArmV7 - ld: library not found for -lAmplitude-iOS"
With `Build Active Architecture Only: No` and `Valid Architectures: arm64, armv7s, arm64e and armv7` I keep getting an error on building:

[code]

Nothing I try can resolve this, except for removing the `armv7` option for the valid architectures (and a bit of other messing around). Does the `Amplitude-iOS` library not support armv7? or am I missing something?

[2019-10-08 01:54] #210 closed

[2019-10-08 01:54] Aequitas737 commented on #210
I think it's got to do with the deployment version. Resolved by increasing deployment version to `11`

[2019-10-09 16:38] Basim-Alamuddin commented on #128
Please we need this revisited

[2019-10-11 18:45] pierre-wehbe opened #212 "Support for Proxy Configuration"
Hello Team,

We have clients using proxy for security purposes, I could support that by modifying the Amplitude.m file, but we do not want to do that.
Would it be possible for you to expose an initializer that allows passing a custom NSURLSession or NSURLSessionConfiguration?

Thank you

[2019-11-14 17:58] EliotAndres commented on #206
Thank you for this fix. However, we still have this issue after updating to `v4.8.2`. Interestingly, it seems to happen to a limited number of users. For them, the app crashes on startup. We can provide crashlytics logs if necessary.

[2019-11-18 20:42] markuspersson opened #215 "High number of disk writes with 4.8.2"
I integrated the Amplitude SDK (4.8.2) in our iOS app a few weeks ago.

Now when I follow up on some of our performance metrics I noticed quite a dramatic change in the number of disk writes. After some investigation and running the File Activity instruments I noticed that it is the Amplitude SDK that is causing the issue.

<img width="835" alt="Screenshot 2019-11-18 at 21 12 18" src="https://user

[2019-11-19 04:30] JohnnyTseng commented on #206
Hi @sputh We are having this issue, too. Seems like happens after calling `setUserProperties`, and same as @EliotAndres , it happens to a limited number of users. But unfortunately we can't reproduce either, would you please take a look?

Stack trace:

[code]

[2019-11-19 06:56] haoliu-amp commented on #215
May I know what is the previous version you used before 4.8.2?

[2019-11-19 07:35] markuspersson commented on #215
Sorry if I was misleading. I noticed I make it sound like there's was only an issue with 4.8.2. My intention was to only mention which version we are using.

The only version we have used in our released app is 4.8.2.

[2019-11-19 07:55] haoliu-amp commented on #215
oh, ok, if I understand it correctly, this's your first time to use Amplitude iOS SDK, and the version is 4.8.2. Before you never used it, right?

[2019-11-19 08:01] markuspersson commented on #215
Exactly!

We integrated Amplitude two releases ago. If you look at the first graph with the disk writes. That is when it, almost, doubled in writes.

[2019-11-19 08:13] haoliu-amp commented on #203
Hey guys, please refer to #213 to see the progress.

[2019-11-19 10:08] markuspersson commented on #215
The size itself is not the big issue for me. It is more that it seems to access the file system more than necessary. That is why I would like some sort of batching or similar. Or if there's anything I can do from the app perspective.

[2019-11-19 23:15] haoliu-amp commented on #215
Do you call `logEvent` a lot? Any concerns over more writes? Does it slow your app?

[2019-11-19 23:22] haoliu-amp commented on #202
Sorry, we do not have it in our roadmap for now.

[2019-11-19 23:22] #202 closed

[2019-11-19 23:31] haoliu-amp commented on #134
Sorry to keep this open for this long, we can use our js agent to instrument react native apps now.
https://help.amplitude.com/hc/en-us/articles/115001361248-JavaScript-SDK-Installation

[2019-11-19 23:31] #134 closed

[2019-11-20 00:29] haoliu-amp commented on #195
We don't support logging empty value.

[2019-11-20 00:29] #195 closed

[2019-11-20 00:32] haoliu-amp commented on #196
Agree on this. Thanks.

[2019-11-20 07:15] markuspersson commented on #215
No. Currently we have a total of 15 events. One of these can be called more than once per view, but no more than 3. Most are called only once per view and some only on specific interaction.

Some writes needs to happen so I assumed it would go up, but not doubled. I have already mentioned more about my concerns previously but I can also mention that we have other analytics tools that tracks exactl

[2019-11-20 12:40] EliotAndres commented on #206
@JohnnyTseng We figured out this bug. Turns out that we were setting one of the properties with a value containing special characters (emojis in our case). Amplitude was crashing when serializing the properties :-( . If you need more info we can send you crash details.

[2019-11-20 15:35] JohnnyTseng commented on #206
@EliotAndres

Thanks for providing the clue to let me investigate, I think I'm now certain on the root cause, it's not by Amplitude, it's by Apple.

It is caused by calling NSJSONSerialization's method in Amplitude SDK (https://github.com/amplitude/Amplitude-iOS/blob/master/Amplitude/Amplitude.m#L654)

[code]

When a string that can't be converted to UTF8, normally it should raise a NSError (Teste

[2019-11-20 19:13] djih commented on #206
@JohnnyTseng I think string truncation might do weird things with emojis if they require more than 1 character of memory. Ex we might truncate an emoji in half, and that might break serialization? CC @haoliu-amp @sputh

[2019-11-20 22:04] haoliu-amp commented on #215
Hi Markus,

Each column in the picture you shared, is disk writes for one app per day, right?

You mentioned that there're other analytics tools has less writes. Can you give me an example? It will be good if they're also open sourced. Then we can take a look.

Thanks

[2019-11-20 22:14] haoliu-amp commented on #206
@djih If `dataWithJSONObject` method will check UTF8 validation, then it break it for sure.

[2019-11-21 00:56] haoliu-amp commented on #156
I'm closing this since this ticket is too old. Pls reopen it if you experience again.

[2019-11-21 00:56] #156 closed

[2019-11-21 00:57] haoliu-amp commented on #138
Thanks for your contribution for macOS. We decide to support it next year. Before supporting it, we need to make sure we can support it. e.g. Building a macOS app to integrate.

[2019-11-21 01:02] haoliu-amp commented on #145
We're trying to clean up all the old tickets. Going to close this now. Pls open it if you still experience it.

[2019-11-21 01:02] #145 closed

[2019-11-21 01:02] haoliu-amp commented on #144
We're trying to clean up all the old tickets. Going to close this now. Pls open it if you still experience it.

[2019-11-21 01:02] #144 closed

[2019-11-21 01:03] #157 closed

[2019-11-21 05:32] haoliu-amp commented on #141
We're not sure if our SDK will work with App Extension since we don't target on it. Closing this for now since it's an old ticket. Pls reopen if you have other concerns.

[2019-11-21 05:32] #141 closed

[2019-11-21 06:19] haoliu-amp commented on #203
Change has been merged.

[2019-11-21 06:19] #203 closed

[2019-11-21 10:13] markuspersson commented on #215
No. The disk writes is for each released version of the app to App Sore; 1.0, 2.0, 3.0, e. tc.

We have a couple of less popular ones but the bigger are: Google analytics and Firebase analytics.
These have been implemented throughout each of the released versions without us seeing any high impact on disk writes.

Worth to mention is that I'm not the one to say that they actually do less disk write

[2019-11-21 18:58] haoliu-amp commented on #215
Ok, I will spend some time to investigate. Might put this request under `enhancement` later.

[2019-11-21 19:00] haoliu-amp commented on #206
Closing this and will create a separate issue for string truncation.

[2019-11-21 19:00] #206 closed

[2019-11-21 19:34] markuspersson commented on #215
Thanks! Let me know if there’s anything else I can do to help.

[2019-11-21 20:13] haoliu-amp commented on #212
Hi, can you give me more details about your request? e.g. Which api are we talking about now? What kind of change are you proposing?

[2019-11-21 21:08] haoliu-amp commented on #208
Thanks for heads up @rob-keepsafe . I think it was caused by iOS 13, does it crash every time when this line executes?

[2019-11-21 21:50] haoliu-amp commented on #197
Hey,

You can explicitly call `- (void)setDeviceId:(NSString*) deviceId;` after you get IDFA back.

However, here are what could happen.

1. If you do set userId, setting a different deviceId is fine. They will still be identified as the same user.
2. If userId is not set, user will be identified as a new user, since the deviceId is changed.

[2019-11-22 03:30] rob-keepsafe commented on #208
@haoliu-amp Yes. I've just set the version manually for now as a string and it doesn't crash (rather than doing the number -> string dance)

[2019-11-25 03:02] JohnnyTseng commented on #206
Hi @haoliu-amp
Haven't seen an issue created, any estimated time of when this will be fixed?
Thank you!

[2019-11-25 21:16] haoliu-amp opened #218 "`runOnBackgroundQueue` crashes when `dataWithJSONObject` called in iOS 13"
Simple test code, it will crash on iOS 13, works normally below iOS 13

[code]

[2019-11-25 21:18] haoliu-amp commented on #206
Hey @JohnnyTseng , we target to address this this or next week. Thx!

[2019-11-26 05:43] JohnnyTseng commented on #218
Btw, I've filed a feedback, still waiting for Apple's response
`FB7458717`

[2019-12-02 18:07] pierre-wehbe commented on #212
Hi @haoliu-amp ,

I am developing an iOS application using latest Swift 5.1, pod 'Amplitude-iOS', '>= 4.5.0'.

Our application is designed for Businesses, some of which have proxy enabled that causes Amplitude api calls to be blocked.

I would like a function to inject a custom NSURLSessionConfiguration that will contain our proxy settings (username password, host, port). We should also be able to

[2019-12-03 23:56] haoliu-amp commented on #212
I personally think this is a valid case. We will discuss about it internally.

[2019-12-04 18:58] haoliu-amp commented on #212
Hey @pierre-wehbe ,

We do have a feature to support this already I think.

Amplitude’s SDKs provide options that allow events to be sent to an alternative server endpoint. You can use setServerUrl to configure the server url.

You can find the api in Amplitude.h.

[2019-12-25 06:19] haoliu-amp commented on #208
@rob-keepsafe I tried to reproduce it but it works fine under iOS 13. Are you able to get a solid repro for this issue?

[2019-12-25 09:18] haoliu-amp commented on #218
#219 Change is merged.

[2019-12-25 09:18] #218 closed

[2019-12-25 09:19] haoliu-amp commented on #212
Close this since we already support it.

[2019-12-25 09:19] #212 closed

[2019-12-27 03:49] rob-keepsafe commented on #208
Unfortunately no solid repro. We didn't have a choice but to work around it and move on since we were seeing these (and many other 3rd party iOS 13) crashes in production but weren't reproducing them in QA sessions. Apple may have fixed this by now, but we use a forked version of Amplitude anyways so we'll likely leave this fix in place.

[2019-12-27 19:29] haoliu-amp commented on #208
Thank you for so much details. I will close this ticket for now, but welcome to reach out to us for help!

[2019-12-27 19:29] #208 closed

[2020-01-18 08:24] haoliu-amp commented on #128
@djih , could you help re-open it? This can be considered as a feature request.

[2020-02-07 19:05] haoliu-amp commented on #170
@dkpalmer Make sense, will discuss it internally first.

[2020-02-07 19:19] haoliu-amp commented on #170
@dkpalmer Could you just log the version as an event property on every event instead? It looks like a very special case.

[2020-02-12 18:57] haoliu-amp opened #226 "Contributors Recognition Initiative"
To all the contributors (who helped us change the code),

We want to thank and recognize all the contributors by putting their names on our README file.

Let us know if you're interested, please reach out to hao.liu@amplitude.com.

Thanks!
-Amplitude

[2020-02-12 23:48] haoliu-amp commented on #193
This is fixed. Thanks

[2020-02-12 23:48] #193 closed

[2020-02-18 19:10] iwasrobbed commented on #200
Just an FYI: `applicationWillTerminate` is not guaranteed to be called in an app unless you opt out of multitasking support. (Just google `applicationWillTerminate not called` and you'll see the countless caveats for when/how it might be called)

It's not a metric I would rely upon and you're safer putting something in a backgrounding/foregrounding callback for sessions.

From [the docs](https://d

[2020-02-18 19:16] rob-keepsafe opened #228 "SSL pinning failing even though certs are found"
Hi there 👋

It seems you all might have swapped out your root certificates or something else broke in your SSL pinning check since it's failing and not logging any events from the app. All of our metrics took a nosedive in the past couple of days even though we hadn't released an update in a couple of months.

The obvious workaround for now is to disable SSL pinning, but we'd appreciate you all in

[2020-02-18 19:23] rob-keepsafe commented on #226
This is a good effort 👍 I will say historically this repo has been a place where issues and PRs go to quietly die and I think the best recognition you could ever give is to improve triaging and communication with your customers and community.

[2020-02-18 19:42] haoliu-amp commented on #228
Just be notified that old certificate got expired. Actively working on this now. Try to find the best solution for it. The worst case is that to update SDK.

[2020-02-18 19:53] haoliu-amp commented on #226
@rob-keepsafe Thanks, that's what we're working on right now. Thank you for your past contributions too.

[2020-02-18 20:40] rob-keepsafe commented on #228
Thanks @haoliu-amp 👍 As long as the root certificates weren't changed, this should have continued working like normal even if the `api.amplitude.com` certificate expired (since the root certs don't expire for another 10+ years). Seems like the root certs were invalidated though so this will likely break everyone

[2020-02-18 20:43] rob-keepsafe commented on #228
For the time being, we're disabling SSL pinning in the podfile by setting `AMPLITUDE_SSL_PINNING=0` and this falls back to using `URLSession`:

[code]

e.g.

<img width="1313" alt="Screen Shot 2020-02-18 at 10 06 49 AM" src="https://user-images.githubusercontent.com/30269720/74776356-7eac7180-523b-11ea-85ca-782175790d8e.png">

[2020-02-18 23:46] haoliu-amp commented on #228
@rob-keepsafe , now it's back to normal. Sorry for the inconvenience.

[2020-02-18 23:46] #228 closed

[2020-02-18 23:57] rob-keepsafe commented on #228
Thank you @haoliu-amp ; we'll confirm on our end after the events come in

[2020-02-19 07:53] haoliu-amp commented on #138
Hey! I have PR #225 for macOS support (with @rob-keepsafe help), but I do not get enough time to fully test it.

If any of you wanna try this out, really appreciate! And give me feedback please!

[2020-02-19 07:54] haoliu-amp commented on #170
Close this for now.

[2020-02-19 07:54] #170 closed

[2020-02-24 22:12] haoliu-amp commented on #159
#229

[2020-02-24 22:12] #159 closed

[2020-03-13 10:47] SergeMaslyakov opened #233 "Umbrella header 'AmplitudeFramework.h' not found"
Hi.

I use Carthage. Caught it when updated on v5.0.0.

[2020-03-13 23:39] haoliu-amp commented on #233
Hey, did you use umbrella header somewhere in your project?

[2020-03-14 14:47] SergeMaslyakov commented on #233
My project is on swift and I use it in `Bridging-Header.h` as

[code]

[2020-03-14 17:32] haoliu-amp commented on #233
That error doesn't happen to me. I create a sample app integrated with 5.0.0 with Carthage. You can check this out.

https://drive.google.com/file/d/1WjwBRmV8E01EuM8jJNDI-22bg6Es9I7A/view?usp=sharing

[2020-03-14 19:54] SergeMaslyakov commented on #233
Hi! Thanks for a test project.
I have checked it out.

I noticed that you have added `Amplitude` explicitly in the embedded frameworks tab in `General`.
Plus you have added `Carthage` step in Build Phases tab.

If I do the same (explicitly add framework in embedded) my project will be compiled too.

But it isn't my way. I didn't add my frameworks explicitly. I do it thru `Carthage` step in `Build

[2020-03-14 21:33] SergeMaslyakov commented on #233
@haoliu-amp

I think the problem is that `AmplitudeFramework.h` is in `Project headers`.

I had added `AmplitudeFramework.h` in `Public header` in target `Amplitude-iOS` then have built with Carthage. Everything is now OK - now I see `AmplitudeFramework.h` in exposed headers in `Amplitude.framework`.

I don't have any idea why it worked earlier - maybe because `Amplitude-iOS` didn't consist 'Priva

[2020-03-14 22:12] haoliu-amp commented on #233
@SergeMaslyakov I see, so it's missing `AmplitudeFramework.h`, look like some how Carthage build doesn't include the umbrella header. Umbrella header is pretty much a file only includes all the public headers. That's what it does.

What you can do now, is to just import the necessary headers from Amplitude instead of using umbrella header.

Also, I'm debating if we should keep the umbrella header

[2020-03-17 00:20] tikimcfee opened #235 "Expired cert raises flag in some security checks"
Hey there folks, thanks much for your time. This issue is in regards to a similar thread, #228. A target project of ours utilizing Amplitude has been found to include the expired cert. For the sake of our continued usage, the team is hoping you would be able to offer some knowledge about it, how it's being used, et al. Specifically, it would be a great bullet-list for us to communicate back to our

[2020-03-17 05:59] haoliu-amp commented on #235
Hey!
Please check https://status.amplitude.com/incidents/dxtdykzr6s25 for further information. This incident explained what happened.

To answer your questions.
1. Our certificate will expire in 10 years, so it won't have any impact on day2day usage.
2. If you choose NOT to use SSL pinning feature, then yes.
3. We don't need to update the cert. The authority updated our cert by mistake, but it was

[2020-03-17 06:01] haoliu-amp commented on #235
Hey,

Which certificate is expired? Could you give me the file name of it?

[2020-03-17 08:55] bently93 opened #236 "UserID remained in the value nil"
Hello! We had a issue with setting UserID in the iOS SDK. As UserID we use DeviceToken. For 90% of our users, UserID remained in the value "(none)", while for 10% it was successfully setted. On our test devices, UserID is also successfully setted.
SDK amplitude/ 5.1.0

code example:
`Amplitude.instance(withName: "first").initializeApiKey(amplitudeApiKey, userId: UIDevice.current.identifierForVendo

[2020-03-17 16:56] haoliu-amp commented on #236
Hey @bently93 ,

The `identifierForVendor` might return `nil` the fist time you call it. Please refer to https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor.

<img width="794" alt="Screen Shot 2020-03-17 at 9 52 41 AM" src="https://user-images.githubusercontent.com/57638692/76880567-14d0b900-6835-11ea-906f-c890fd9936af.png">

That's also why we tried ourselves in o

[2020-03-17 16:57] haoliu-amp commented on #233
Going to close this for now. Thanks for reaching out.

[2020-03-17 16:57] #233 closed

[2020-03-17 18:13] tikimcfee commented on #235
Hey there @haoliu-amp, thanks for getting back so quickly!

The cert we're seeing is `api.amplitude.com.der` -> https://github.com/amplitude/Amplitude-iOS/blob/master/Sources/Amplitude/api.amplitude.com.der

From the notes mentioned, it seems like the cert was looked at again because of an authority making an incorrect change to your chain, which meant you had to take that up with them yourself. W

[2020-03-17 18:35] haoliu-amp commented on #235
I see, this one is actually not being used for SSL pinning, so we will remove it.

The ones currently under used, are `ComodoRsaCA` and `ComodoRsaDomainValidationCA`.

[2020-03-17 18:47] tikimcfee commented on #235
Cool cool, a little early Spring cleaning. Looks like `ComodoRsaCA.der` also expires **May, 2020** - I think you mentioned it's unused, but just a heads up anyway.

Once this is all settled down, think this will basically be a version-bump on our Cocoapod side?

[2020-03-20 09:27] bently93 commented on #236
The idfv is always not nil value, I have checked in colsole. The trouble is, we passed correct idfv value to Amplitude Identify, but UserID is still empty in a user profile and his event stream.
Note: after passing value, we also rechecked current UserID value in Amplitude instance, and we see what passed value = current UserID in instance.

[2020-03-23 05:12] haoliu-amp commented on #236
@bently93 That's in your dev environment, right? On other users' devices, this might be nil. It's not guaranteed non-nil when fetching it for the 1st time.

My question is, while you're testing it on your dev environment, are you able to see userId, assuming `idfv` is not nil?

[2020-03-23 07:33] bently93 commented on #236
yes, I see the correct UserID when idfv not nil

[2020-03-23 17:11] haoliu-amp commented on #235
Yes, that's correct! @tikimcfee

[2020-03-23 17:12] haoliu-amp commented on #236
Yep, that's the problem. One the phones of some of your users, they could get idfv `nil`, which leads to this problem.

[2020-03-23 17:13] #197 closed

[2020-03-23 17:14] haoliu-amp commented on #138
It's supported now.
https://github.com/amplitude/Amplitude-iOS/releases/tag/v5.0.0

[2020-03-23 17:14] #138 closed

[2020-03-23 17:15] haoliu-amp commented on #184
I can't reproduce it.

[2020-03-23 17:15] #184 closed

[2020-03-23 18:05] bently93 commented on #236
i don't get `nil`

[2020-03-23 18:12] haoliu-amp commented on #236
Could you share which company are you coming from? I might need look into your data.

[2020-03-23 19:53] bchiu146 commented on #236
Hi @bently93 - to further assist you on your inquiry, please submit a ticket to our Support team at support.amplitude.com and link this Github issue to the form. If you could also provide your org ID when filling out the form, that would be helpful as well.

[2020-03-24 08:20] ceocraft commented on #236
@haoliu-amp, I need your email for share the chart.

[2020-03-24 17:42] haoliu-amp commented on #236
@ceocraft Could you create a ticket in our help center instead and share the information with our customer support? Thanks.
@bchiu146 can help you out on this.

[2020-03-25 06:33] honcheng commented on #184
<img width="301" alt="Screenshot 2020-03-25 at 2 22 59 PM" src="https://user-images.githubusercontent.com/208827/77507825-256fd780-6ea4-11ea-8421-5a91685365b7.png">

The shared schemes for tvOS and macOS are not pushed to the repo. I'm also encountering the problem for Mac. Just turn off and on the shared option for tvOS and macOS and the *.xcscheme file will be regenerated.

[2020-03-25 06:49] haoliu-amp commented on #184
@honcheng Thank you for reminding us! I've added those.

[2020-03-25 07:02] ceocraft commented on #236
Ticket ID #39026

[2020-03-26 01:30] sumac13 commented on #233
Can this be fixed inside the SDK so that the below changes are made and we can use carthage without having to make any custom change to our build process so that it works like 4.10.0 did

[2020-03-26 08:14] hontd opened #241 "Can't use Amplitude v5 with Carthage on Swift project"
Hey there, when I upgrade Amplitude to v5.1.0 by Carthage, I encounter this error when compiling:

../Amplitude.framework/Modules/module.modulemap:2:21: Umbrella header 'AmplitudeFramework.h' not found

When I check the above path, `AmpltidueFramework.h` file is actually missing.

My project used to work fine with v4.10.0. Am I doing something wrong? Please help me on this issue? Thanks.

[2020-03-26 13:28] PintoDiaz commented on #241
Check https://github.com/amplitude/Amplitude-iOS/issues/233, but I'm not sure which is the best solution right now.

[2020-03-26 20:57] hontd commented on #241
Cool, thanks. I’ll close this one as it’s duplicated.

[2020-03-26 20:58] #241 closed

[2020-03-26 21:11] haoliu-amp commented on #241
@hontd If you guys still wanna keep the umbrella header, I will make a change to include it later.

[2020-03-26 21:18] hthi-atlassian commented on #241
@haoliu-amp Any fix inside the framework will be appreciated. Thanks.

[2020-03-26 21:47] hontd commented on #241
@haoliu-amp yeah, that would be good. Thanks.

[2020-03-27 03:05] waitingsnow opened #242 "[iOS10] crashes in AMPDatabaseHelper"
Hello everyone!

We're using Amplitude-iOS v5.1.0. and we're are having some crashes related to AMPDatabaseHelper in iOS 10 iPhone5.

Hope you guys fix it ASAP.

[2020-03-27 06:47] haoliu-amp commented on #242
Hello, thanks for reporting this. Could you mind share your crash stack trace?

[2020-03-27 06:50] haoliu-amp commented on #241
@hontd @PintoDiaz @hthi-atlassian
I just merged a fix but I haven't created new release yet.
If you wanna try it out, you can do
[code]

[2020-03-27 06:54] PintoDiaz commented on #241
Trying it out! Thank you very much!!

[2020-03-27 06:54] #226 closed

[2020-03-27 06:56] haoliu-amp commented on #200
I think @iwasrobbed is right on this. It might not be achievable. However, we will add feature for users to be able to track some automatic events later this year.

[2020-03-27 06:56] #200 closed

[2020-03-29 22:38] hthi-atlassian commented on #241
Thanks @haoliu-amp !

[2020-03-30 18:54] haoliu-amp commented on #242
Hello? Could you provide more information about this?

[2020-04-05 03:14] maopenglin commented on #242
First:
com.amplitude.db.queue
0  libsystem_kernel.dylib         0x1ba4e25c stat + 12
1  libsqlite3.dylib               0x1c76246f (null) + 15284
2  libsqlite3.dylib               0x1c6efa0b (null) + 6334
3  libsqlite3.dylib               0x1c7377d1 (null) + 30486
4  libsqlite3.dylib               0x1c7372d3 (null) + 29208
5  libsqlite3.dylib               0x1c71c171 (null) + 7552
6  libsqlite3.dyl

[2020-04-05 03:16] maopenglin commented on #242
com.amplitude.db.queue
0  libsqlite3.dylib               0x1c62baaa (null) + 23529
1  libsqlite3.dylib               0x1c626d4b (null) + 3722
2  libsqlite3.dylib               0x1c6266e1 (null) + 2080
3  libsqlite3.dylib               0x1c6264ef (null) + 1582
4  libsqlite3.dylib               0x1c636b3b (null) + 68730
5  libsqlite3.dylib               0x1c636623 (null) + 67426
6  libsqlite3.dylib

[2020-04-05 03:16] maopenglin commented on #242
com.amplitude.db.queue
0  libsystem_kernel.dylib         0x1cd2625c stat + 12
1  libsqlite3.dylib               0x1da37151 (null) + 2198
2  libsqlite3.dylib               0x1d9c8295 (null) + 8520
3  libsqlite3.dylib               0x1d9c7da7 (null) + 7258
4  libsqlite3.dylib               0x1d9c5319 (null) + 4090
5  libsqlite3.dylib               0x1d9c2a47 (null) + 1564
6  Omegle

[2020-04-05 03:17] maopenglin commented on #242
![image](https://user-images.githubusercontent.com/1772142/78465993-ffadc280-772e-11ea-8402-d6918340a32b.png)

[2020-04-05 03:20] maopenglin commented on #242
com.amplitude.db.queue
0  libsqlite3.dylib               0x1c62baaa (null) + 23529
1  libsqlite3.dylib               0x1c626d4b (null) + 3722
2  libsqlite3.dylib               0x1c6266e1 (null) + 2080
3  libsqlite3.dylib               0x1c6264ef (null) + 1582
4  libsqlite3.dylib               0x1c636b3b (null) + 68730
5  libsqlite3.dylib               0x1c636623 (null) + 67426
6  libsqlite3.dylib

[2020-04-10 06:46] bently93 commented on #236
We performed several tests and found out that if we set the deviceToken as the User ID and it matches the Device ID in Amplitude , the User ID in "User look-up" report becomes "(none)", but if we append the any character to the deviceToken, for example dataCacheRepo.deviceToken + "A", then UserID is successfully mounted.

[2020-04-10 17:01] haoliu-amp commented on #236
@bently93 I see! In our backend, we have logic to check if userId is same as deviceId, the userId will be set to nil. I will discuss with our backend team to see if we can remove this logic.

[2020-04-11 10:21] #242 closed

[2020-04-12 06:12] haoliu-amp commented on #242
@waitingsnow Hello, I saw you closed this. Wonder what happened on your side? Thanks.

[2020-04-26 23:53] ZaVyLoN commented on #242
@waitingsnow hello.
Cocoapods: Amplitude-iOS (4.10.0) - last version.
Users (iPhone 5 iOS 10.3.4 ) still have this crash.

How can I fix this problem? Use Carthage 5.1.0 ?

[2020-04-27 12:31] iosfitness opened #244 "Not able to compile example App when Amplitude is added inside Framework"
Hello,

I have added Amplitude as a dependency inside my framework.
To add the framework, I build and sample project and extracted the framework `Amplitude_iOS.framework` (amplitude-ios/4.9.3)  from there. The framework builds and runs perfectly fine.

But when I try to add the build my sample App with this `umbrella framework`, it gets an error something like below.

For resolve, I did the follow

[2020-04-28 17:12] ZaVyLoN opened #245 "iOS10.3.* crashes in AMPDatabaseHelper"
Cocoapods: Amplitude-iOS (4.10.0) - last version.
Users (iPhone 5 iOS 10.3.* ) still have this crash.

How can I fix this problem?

[2020-04-29 19:02] ZaVyLoN commented on #245
<img width="545" alt="Screen Shot 2020-04-29 at 21 17 51" src="https://user-images.githubusercontent.com/3078481/80631842-080fc980-8a5f-11ea-82c7-094341b84457.png">
<img width="542" alt="Screen Shot 2020-04-29 at 21 18 05" src="https://user-images.githubusercontent.com/3078481/80631862-0e9e4100-8a5f-11ea-85b3-ae8774d3bf61.png">
<img width="545" alt="Screen Shot 2020-04-29 at 21 18 16" src="https:/

[2020-04-30 13:42] zeitos opened #246 "[Question] Is it possible to configure the dispatch to happen now?"
Hi all,
    We are working on test automation and we would like to be able to configure the app so it sends all notifications immediately during QA, is that possible?

[2020-04-30 17:25] haoliu-amp commented on #246
You mean flushing all events? e.g. `flushEvent`?

[2020-04-30 17:26] haoliu-amp commented on #245
Hey, does this only happen for iPhone 5?

[2020-04-30 17:27] haoliu-amp commented on #244
Hello, have you tried v5.1.0?

[2020-04-30 18:11] zeitos commented on #246
Yes, Ideally I would like to flush after each event in a configurable way, since this if for Testing I don't want to fill the code with `if QA flush`

[2020-04-30 18:32] haoliu-amp commented on #246
We will add one soon. Probably next week.

[2020-04-30 18:48] haoliu-amp commented on #246
@zeitos Also, you could change `eventUploadThreshold` to 0, so that you get every event submitted immediately.
https://github.com/amplitude/Amplitude-iOS/blob/master/Sources/Amplitude/Amplitude.h#L90

[2020-05-02 08:41] iosfitness commented on #244
@hacos Thanks for the response.
I am using pod 'Amplitude', '~> 5.0.0' as mentioned here
https://help.amplitude.com/hc/en-us/articles/115002278527-iOS-SDK-Installation

[2020-05-03 11:48] ZaVyLoN commented on #245
@haoliu-amp, hello.

1.  iPhone 5 (Model A1428) - 10.3.4 (14G61)
2. iPhone 5c (Model A1456, A1532) - 10.3.3 (14G60)
3. iPad (4th generation Model A1459) - 10.3.4 (14G61)
4. iPhone 5 (Model A1429) - 10.3.4 (14G61)

[2020-05-05 17:50] haoliu-amp commented on #245
Thank you! We will investigate soon.

[2020-05-06 08:02] haoliu-amp commented on #245
@ZaVyLoN Also I saw AMPSqliteStore appearing from the stack traces. Does it also use sqlite library?

[2020-05-06 14:03] ZaVyLoN commented on #245
@haoliu-amp, yes.

[2020-05-06 19:26] haoliu-amp commented on #245
<img width="545" alt="80631842-080fc980-8a5f-11ea-82c7-094341b84457" src="https://user-images.githubusercontent.com/57638692/81219511-bf8f6900-8f94-11ea-8f38-289f95ba7980.png">
So was this the moment that the crash happen? I tried to get it reproduced but I can't on iPhone 5 simulator.

[2020-05-07 12:22] ZaVyLoN commented on #245
Found out that the problem is related to another library, firebase.
Thanks for the help.

[2020-05-07 12:22] #245 closed

[2020-05-07 16:32] haoliu-amp commented on #245
@ZaVyLoN That's one possibilities that we thought yesterday. Could you let me know how did you fix it? What triggered this crash? Mutli-thread accessing sqlite at the same time? Or it's a problem related to 32 bit on iPhone 5?

[2020-05-07 16:33] #246 closed

[2020-05-08 05:49] martindaum opened #247 "watchOS support"
Sorry to bring this up again, but how can this not be on your roadmap? If you have a standalone Watch app, this is a must have and for us it would be the reason to switch to a competitor able to track our users on the Watch.

With standalone watch apps it is not possible to take the route via iPhone app anymore and watchOS also introduced subscriptions, which makes it important to track events as

[2020-05-08 17:44] haoliu-amp commented on #247
@martindaum Thanks for your feedback. We are thinking to add it to our Q3 roadmap.

[2020-05-08 17:48] haoliu-amp commented on #244
@iosfitness So you're importing it from the pod file? That should work actually. Could you provide me a iOS example app which doesn't work?

[2020-05-12 12:41] ZaVyLoN commented on #245
I can not reproduce on my devices. Unfortunately. I suggested that this is due to
https://github.com/firebase/firebase-ios-sdk/issues/5508

I updated Firebase to 6.24.0 and I will watch for such crashes.

[2020-05-22 05:43] haoliu-amp commented on #244
@iosfitness Hello, have you figure it out?

[2020-05-26 09:42] SergeMaslyakov opened #248 "Got +[Amplitude updateLocation]: unrecognized selector sent to class ..."
Hi.

I just updated Amplitude sdk for my project (I use a master branch to avoid problem with Carthage).

I got this error

[code]

Commit `github "amplitude/Amplitude-iOS" "b6e80e296b7355a1b9b65e8e6fc4038c88f35775"`

[2020-05-26 16:54] haoliu-amp commented on #248
@SergeMaslyakov Hello, sorry, it's because I removed some deprecated APIs which are really old.
You should use member function instead. Static ones were deprecated.
[code]

[2020-05-26 17:03] SergeMaslyakov commented on #248
So, the problem is I don't invoke this method directly. It happens during initialisation SDK when an User opt-out from analytics. I think it's s missed invocation inside SDK.

[code]

[2020-05-26 17:41] haoliu-amp commented on #248
Oh, my bad. This function shouldn't be removed. I added it back. Thank you for reporting it to us. Would you like to try it again?

[2020-05-26 17:57] SergeMaslyakov commented on #248
I have checked it. Now it's OK.

Thanks

[2020-05-26 20:21] #248 closed

[2020-06-01 08:41] blzhu opened #250 "use MD5 will cause integrate failed."
call CC_MD5 in md5HexDigest, when we integrate Amplitude,  scanning tool report this defect,  it easy to fix, but if have this defect , our app can not integrate Amplitude for security concern. hope you fix it .

[2020-06-02 07:15] haoliu-amp commented on #250
Thanks, we will look into it.

[2020-06-04 16:35] okalentiev opened #252 "SwiftPM: ISPPinnedNSURLConnectionDelegate.h' file not found when enabling SSL pinning"
I'm trying to switch the installation to the SwiftPM and experiencing issues if I switch the `AMPLITUDE_SSL_PINNING` on.

This happens in `AMPURLConnection.h` file on line 27.

Am I doing something wrong or this is an issue? I suspect that it might be happening because the files in the `SSLCertificatePinning` folder are private.

[2020-06-23 18:07] haoliu-amp commented on #252
#253

It's fixed. You can give it a try by pointing to `master` branch.

You can also enable SSL pinning by adding the following preprocessor macro:

AMPLITUDE_SSL_PINNING=1

[2020-06-23 18:07] #252 closed

[2020-07-07 05:33] haoliu-amp commented on #235
Sorry for the long wait, we just removed the outdated certs.

[2020-07-07 05:33] #235 closed

[2020-07-08 01:23] haoliu-amp commented on #250
This crypto algorithm is used for our checksum field, actually you don't need to worry about the security concern for that. However, we will see if we wanna switch it to SHA256.

[2020-07-15 03:38] darylwyee opened #256 "Swift Package Manager build of Amplitude-iOS 5.2.0 fails modulemap generation"
**Checklist**
 I've searched for existing GitHub issues
 I've looked for existing answers on Stack Overflow
 I've read the Code of Conduct
 This issue is not security related and can safely be disclosed publicly on GitHub

**Environment**
Xcode Version: 11.5
Swift Version: 5.1 (if issue is Swift related)
Installation Platform & Version: [SPM] version 5.2

**Goals**
Importing Amplitude-iOS as a Swi

[2020-07-23 07:17] zyphs21 opened #257 "Can not upload data from mainland, China"
Hello, We found that we can't upload data to Amplitude from mainland, China. Are there any solutions?

[2020-07-23 17:54] haoliu-amp commented on #257
Please direct all the traffic to `api.amplitude.com` by calling `setServerUrl`. If you wanna know more details about this issue, please create a ticket in our help center. https://help.amplitude.com/hc/en-us/requests/new

[2020-07-24 10:51] grzegorzkrukowski commented on #257
After we redirected everything to `api2.amplitude.com` - nothing is working anymore - there are no events visible on development.

[2020-07-24 10:54] grzegorzkrukowski commented on #257
In case anyone else will struggle with this, here is full working code:
`[[Amplitude instance] setServerUrl:@"https://api2.amplitude.com/"];`

Passing just `api2.amplitude.com` is not working.

[2020-07-28 06:47] blzhu commented on #250
great, we very much hope it switch to SHA256 .  I know this crypto algorithm is not for security use, but scan report tool will still show it in report  , some customer will have security concern for that,  explain it will also have poor effective ，and competitor will also make waves in market

[2020-07-28 10:33] fan-tom opened #258 "Give method to clear db"
I incorrectly used `logEvent(..., withTimestamp: Date().timeIntervalSince1970)`, providing fractional number instead of integer. Event was saved to local db, but then I cannot send it (and all subsequent events too) to backend, because `ERROR: Connection response received:400, invalid_event_field. Invalid fields [timestamp].`. I need some way to clear db

[2020-07-29 09:42] JJingLee opened #259 "About Amplitude.h setDeviceId: couldn't be used by swift"
As title, setDeviceId: would be recognized as a setter signature by swift, and deviceId is a readonly property, so that I couldn't use it through "setDeviceId:" interface.
I could set it through "setValue:byKey:" though, it's not quite a good way I think.

[2020-07-30 20:56] haoliu-amp commented on #259
Thank you for reporting it. For now one possible solution is to call this function in objc, and using bridging header to include it.

[2020-07-30 21:02] haoliu-amp commented on #258
Are you trying to clear the db on one developer's device?

[2020-07-31 08:29] fan-tom commented on #258
yes

[2020-07-31 17:54] haoliu-amp commented on #258
If it's just from your personal developer's device, delete the app and reinstall it would solve it. Not sure if I misunderstand it.

[2020-08-01 12:44] fan-tom commented on #258
Yeah, sure, I can reinstall app or even remove file on my dev device/emulator. But what if I already released application and then realized error. I cannot issue update that will simply clear db on application start. How can I fix it on client's device? Or maybe we doesn't need such a method if we guarantee that any event, written to db will eventually be successfully sent to backend or discarded,

[2020-08-05 13:06] PhilippeCuvillier opened #260 "Change host to api2.amplitude.com"
Hello Amplitude Team,

as follow up to the Chinese outage (see issue #257), could the SDK use http://api2.amplitude.com/ instead of http://api.amplitude.com/ as base URL?
Is there any reason _not_ to do so?
Many data have been lost, without any mean to recover beside waiting for Chinese users to update the app.

Thanks a lot.

[2020-08-05 20:58] haoliu-amp commented on #260
Hello @PhilippeCuvillier ,

We're working on a new feature to dynamically adjust the url in SDK itself based on user's IP (geo location). With this, it should help this kind situation in the long run.

We will discuss if we wanna change the default value from api to api2.

[2020-08-07 04:56] haoliu-amp opened #263 "Run contributing bot here"

[2020-08-07 04:58] haoliu-amp commented on #263
@all-contributors please add @haoliu-amp for doc

[2020-08-07 05:04] haoliu-amp commented on #263
@all-contributors please add @haoliu-amp for code

[2020-08-07 05:05] haoliu-amp commented on #263
@all-contributors please add @djih for code, doc

[2020-08-07 05:06] haoliu-amp commented on #263
@all-contributors please add @sskates for code, doc, ideas

[2020-08-07 05:06] haoliu-amp commented on #263
@all-contributors please add @curtisliu for code, doc, ideas

[2020-08-07 05:11] haoliu-amp commented on #263
@all-contributors please add @djih for code, doc

[2020-08-07 05:24] haoliu-amp commented on #263
@all-contributors please add @haoliu-amp for code

[2020-08-07 05:27] haoliu-amp commented on #263
@all-contributors please add @blazzy for code

[2020-08-07 05:32] haoliu-amp commented on #263
@all-contributors please add @blazzy for code

[2020-08-07 05:32] haoliu-amp commented on #263
@all-contributors please add @sputh for code

[2020-08-07 05:33] haoliu-amp commented on #263
@all-contributors please add @mayur1407 for code

[2020-08-07 05:34] haoliu-amp commented on #263
@all-contributors please add @rob-keepsafe for code

[2020-08-07 05:35] #263 closed

[2020-08-07 14:31] Swapnil-Gunla opened #275 "Crash on Line [AMPDatabaseHelper inDatabaseWithStatement:block:]_block_invoke"
We have integrated Amplitude iOS SDK (5.0.0) in our Objective-C iOS app. We are getting sudden spike in crashes for production users. Please see following crash logs,

Crashed: com.amplitude.db.queue
0  libsystem_platform.dylib       0x1963431ac _os_unfair_lock_unowned_abort + 36
1  libsystem_platform.dylib       0x1963411ac _os_unfair_lock_unlock_slow + 148
2  libsqlite3.dylib               0x198

[2020-08-07 17:16] haoliu-amp commented on #258
Make sense, we will look into it.

[2020-08-13 07:40] Swapnil-Gunla commented on #275
Can any one please look into this issue. The crashes are increasing daily.

[2020-08-17 09:01] yoman07 opened #276 "advertisingIdentifier: reason for apple rejection."
Apple rejects our application with the following message:

your Kids Category app collects IDFA information, which is not appropriate.

to test if our application is using IDFA in some plugin, we execute the following command in your code directly:

`fgrep -R advertisingIdentifier .`

which retrieve this:

[code]

[2020-08-18 01:49] #259 closed

[2020-08-18 05:15] haoliu-amp commented on #276
Hello, we'll address this problem soon as high priority.

[2020-08-20 05:19] haoliu-amp commented on #276
@yoman07 Mind trying v6.0.0?
We removed idfa logic by default.

Doc:
https://developers.amplitude.com/docs/ios-ios-advertising-id-idfa#ios

[2020-08-21 07:27] haoliu-amp commented on #260
it's changed to api2 by default now

[2020-08-21 07:27] #260 closed

[2020-08-21 07:27] #257 closed

[2020-08-30 19:19] JanNash commented on #250
Hey @haoliu-amp, is there an update on a possible switch to SHA256? I'd gladly submit a PR to update the CC_MD5 usage to SHA256 in this framework. I'd also gladly fix the other two deprecation warnings in said PR.

[2020-09-14 15:41] tzahola opened #282 "Readonly properties hide setters from Swift"
The `userId` and `deviceId` properties are declared as `readonly` in `Amplitude.h`:
[code]
Yet further down they also have setter methods declared:
[code]
These setter methods are inaccessible from Swift, because the ObjC→Swift bridging mechanism seems to prefer the `readonly` qualifier on the properties, thus hiding the setter methods.

## Expected Behavior
It should be possible to set the `userI

[2020-09-15 21:54] haoliu-amp commented on #276
@yoman07 We made idfa fetching to be customer driven now. Pls give it a try for v7.0.0.

[2020-09-15 21:54] #276 closed

[2020-09-15 21:55] haoliu-amp commented on #168
Hey all! now location information is customer driven since v7.0.0. Please give it a try. Thanks!

https://developers.amplitude.com/docs/location-tracking

[2020-09-15 21:55] #168 closed

[2020-09-17 16:51] GRiMe2D opened #285 "Make location block to return nullable dictionary"
## Summary

Amplitude v7.0.0 added location block for providing user location manually. But location isn't available instantaneously. For some moment location will be unknown. But new added location block doesn't mark it nullable however it checks for nil while accepting it. Can't return nil in swift

https://github.com/amplitude/Amplitude-iOS/blob/d7f81d3ca3aa2d00ba83f1095857e808faaa43de/Sources/

[2020-09-18 19:45] deRonbrown opened #286 "Can't set user ID to `nil` on logout"
## Summary

We used to call `Amplitude.instance().setUserId(nil)` when the user logs out, but this method no longer accepts `nil`. What's the recommended approach for logout scenarios? We want to disassociate the user from the device. We were also called `Amplitude.instance().clearUserProperties()`. Does this method just clear local device state, or does it also clear all user properties in your s

[2020-09-18 19:55] deRonbrown commented on #282
Related to #286, should these properties also be nullable?

[2020-09-20 18:28] haoliu-amp commented on #286
Thanks for reporting the issue!
We released v7.0.1 to address it!
https://github.com/amplitude/Amplitude-iOS/releases/tag/v7.0.1

[2020-09-20 18:28] #286 closed

[2020-09-20 18:28] haoliu-amp commented on #285
Thanks for reporting the issue!
We released v7.0.1 to address it!
https://github.com/amplitude/Amplitude-iOS/releases/tag/v7.0.1

[2020-09-20 18:28] #285 closed

[2020-09-23 14:50] john-mejia commented on #285
@haoliu-amp would it be possible to call out breaking changes in future release notes? This caused a breaking change in our application and we had to dig through the PR/code to get an understanding of exactly what went wrong.

[2020-09-23 16:55] haoliu-amp commented on #285
@john-mejia Sorry for your trouble with new changes. We did mark it to be BREAKING CHANGES in v7.0.0. (We bumped it to major version 7 since it's not back compatible change.) https://github.com/amplitude/Amplitude-iOS/releases/tag/v7.0.0

[2020-09-23 17:01] john-mejia commented on #285
woah,. my apologies - we jumped straight to .1 and missed the original update!

[2020-10-02 10:01] Rusik commented on #169
Any updates? How to clear user id in swift after logout?

[2020-10-05 15:20] vovander commented on #282
Have the same problem ;(

[2020-10-05 20:52] jaltreuter opened #288 "EXC_BAD_ACCESS in Amplitude.m due to dereferencing nil after refreshing dynamic config"
## Expected Behavior
If `Amplitude` is deallocated while dynamic config is being refreshed, the completion block should no-op.

## Current Behavior
If `Amplitude` is deallocated while dynamic config is being refreshed, the completion block will dereference nil and crash the app.

## Possible Solution
This is a snippet of the existing code in `Amplitude.m`:
[code]
The block avoids a retain cycle by

[2020-10-06 06:31] mikaelbartlett opened #292 "Build warnings regarding unhandled resources when adding SDK with Swift Package Manager"
## Expected Behavior
No build warnings from Xcode when building

## Current Behavior
11 warnings regarding resources

## Possible Solution
Exclude files from the target.

## Steps to Reproduce
1. Create an empty project
2. Add Amplitude with SPM
3. Build

## Environment
- SDK Version: v7.1.0
- Device: 2019 MacBook Pro 16-inch
- OS Version: MacOS 10.14
- Xcode version: 12.0.1

[2020-10-06 11:40] degterev commented on #282
Faced with same problem on 7.1.0 and 7.0.1

[2020-10-06 11:47] tzahola commented on #282
By the way, my workaround was creating an extension that re-declares the setters as methods, and exposing that to Swift:
[code]
Then you'll be able to call `amplitude.hack_setUserId(userId)` from Swift.

[2020-10-06 16:24] #292 closed

[2020-10-06 19:15] kunalbhatt opened #294 "Set Session Id programmatically"
## Summary
We'd like to programmatically set session Id.

## Motivations
Reason for this is if a user comes from web to app through some click funnel on web we'd like to attribute to the same session vs creating a new session.

I have a branch ready with this change but can't push remote branches up to the repository. We just need to add this https://github.com/amplitude/Amplitude-iOS/blob/2426c4b

[2020-10-07 23:25] haoliu-amp commented on #294
@kunalbhatt Thanks for reporting. We will take care of it.

[2020-10-07 23:27] haoliu-amp commented on #288
Merged. Thanks!

[2020-10-07 23:27] #288 closed

[2020-10-12 22:26] ilyakar opened #296 "Disable IDFA references"
We have a kid's app and any references to anything IDFA-related gets the app rejected.
Running `fgrep -R advertisingIdentifier .` shows that Amplitude is including things that are getting our app rejected.

I have found that it's possible to disable tracking of certain things on iOS; however, I don't think this will solve the issue since Apple is likely to be doing a deep scan into the app similar

[2020-10-12 22:34] haoliu-amp commented on #296
Hello @ilyakar, I assume you haven't updated to our latest version.

Since v7.0.0, we made idfa tracking to be fully customer driven.
https://github.com/amplitude/Amplitude-iOS/releases/tag/v7.0.0

[2020-10-13 09:23] margulan9 commented on #282
Have the same problem on 7.1.0

[2020-10-14 03:42] jsahoo opened #297 "SPM Warnings ("Found 11 files which are unhandled")"
## Expected Behavior

There shouldn't be any SPM warnings.

## Current Behavior

Seeing the following warning when integrating the Amplitude SDK via SPM:
<img width="1165" alt="Screen Shot 2020-10-13 at 8 37 23 PM" src="https://user-images.githubusercontent.com/6937424/95940887-4e01e500-0d94-11eb-96cd-03a09a8767d1.png">

## Steps to Reproduce

1. Integrate Amplitude via SPM
2. Observe warnings in

[2020-10-14 05:25] accannis opened #298 "Error building 7.1.0 on Xcode 12.2 beta 3 for tvOS"
I've included Amplitude-iOS using SPM. I just updated from 5.2.0 (which built just fine) to 7.1.0, which no longer builds.

I get the following build errors:

SourcePackages/checkouts/Amplitude-iOS/Sources/Amplitude/AMPInfoViewController.m:69:46: 'UIPasteboard' is unavailable: not available on tvOS
/Applications/Xcode-beta.app/Contents/Developer/Platforms/AppleTVSimulator.platform/Developer/SDKs/A

[2020-10-15 18:15] jooohhn commented on #297
Looking into a fix for this

[2020-10-15 18:16] jooohhn commented on #282
Thanks for the report, looking to get a fix out today

[2020-10-16 21:46] jooohhn commented on #298
Thanks for the notice, looking into it

[2020-10-19 00:14] jaredsinclair commented on #297
Seeing the same.

[2020-10-19 19:28] #282 closed

[2020-10-19 20:00] jooohhn commented on #275
Thanks for the report, will look into this

[2020-10-19 20:39] haoliu-amp commented on #250
@JanNash Thanks for your help contributing and I need to work with our backend team to make changes there to coordinate with this change. However, you can submit a PR for sure.

Thanks again.

[2020-10-19 20:41] jooohhn commented on #282
Doing a v7.1.1 release today that will include this fix

[2020-10-19 22:14] JanNash commented on #250
No worries :)

[2020-10-20 07:10] karanayyana opened #304 "'Amplitude' has different definitions in different modules"
I upgraded my Xcode from 11.7 to 12.01

I am experiencing an issues which is listed in this post
https://developer.apple.com/forums/thread/658012

in my code the error is with
'Amplitude' has different definitions in different modules; first difference is defined here found property 'userId' with type 'NSString *'

Any help?

[2020-10-21 23:23] jooohhn commented on #304
Thanks for the report, could you tell us what version of Amplitude-iOS you're using and post a screen shot of your code where the error occurs?

[2020-10-21 23:26] jooohhn commented on #298
@haoliu-amp do you have insight? Problem seems to be introduced with event explorer and using tvOS

[2020-10-21 23:44] jooohhn commented on #297
Should be fixed if SDK is updated to 7.1.1, thanks for the report!

[2020-10-21 23:44] #297 closed

[2020-10-22 17:35] shadone opened #311 "Error building SDK v7.1.1 in a macOS app"
## Current Behavior

Adding Amplitude (via SPM) version 7.1.1 shows this compilation error:

## Possible Solution

Downgrading back to 7.0.1 fixes the issue.

## Steps to Reproduce

1. Create a new macOS App project
2. Add Amplitude as a SPM dependency (File->Swift Packages->Add Package Dependency add `https://github.com/amplitude/Amplitude-iOS`)
3. Try to build
4. Error!

## Environment
- OS Vers

[2020-10-22 18:25] jooohhn commented on #311
Thanks for the report, it's related to #298. Will try to get a fix out today

[2020-10-22 18:25] #311 closed

[2020-10-22 18:26] jooohhn commented on #298
7.1.0 introduced an event explorer feature that's only available on iOS. Working on a fix to exclude on macOS and tvOS

[2020-10-22 18:31] jsahoo commented on #297
Thanks, @jooohhn!

[2020-10-23 21:24] jooohhn commented on #294
@kunalbhatt thoughts on #312? Would like to know if this is what you're looking for

[2020-10-26 17:34] #294 closed

[2020-10-26 19:57] karanayyana commented on #304
Thanks for the reply.
I am using v7.1.1 with cocoapods
Xcode version 12.0.1

It fails on compile
attached screenshots
![Screen Shot 2020-10-26 at 12 57 08 PM](https://user-images.githubusercontent.com/24512236/97221918-cc925580-178a-11eb-8a8e-9b09423e3633.png)
![Screen Shot 2020-10-26 at 12 57 21 PM](https://user-images.githubusercontent.com/24512236/97221929-cef4af80-178a-11eb-8466-9a0ac78dd1c3.p

[2020-10-29 19:18] jordan-rpcb commented on #275
This is happening for us in the tens of thousands.

No specific devices/OS versions, here's a non exhaustive list:

Not feasible to upgrade to latest version of Amplitude, since it was causing a lot of crashes earlier this year.

[2020-11-09 07:44] sonvuhwg opened #314 "Can I import Amplitude without using CocoaPod. I want to import manually files into my project."
## Summary

Can I import Amplitude without using CocoaPod. I want to import manually files into my project.

[2020-11-12 04:09] #314 closed

[2020-11-17 03:13] #298 closed

[2020-12-03 06:33] jooohhn opened #317 "Discussion: How are you using Amplitude-iOS?"
It really helps the development team to know how people use Amplitude-iOS. Getting an idea of how the community's use cases of the SDK helps prioritize features. Insights on the following questions are greatly appreciated!

* What kind of app are you making? (Optional)
* What is the scale of the app (small, medium, large)?
* What is the size of your team? Are you working on this by yourself?
* Wha

[2020-12-08 23:28] karanayyana commented on #304
Any luck with this issue?

[2020-12-09 05:51] jooohhn commented on #304
Hey @karanayyana , sorry for the slow progress. I'm still trying to debug what you're getting this problem.

I tried creating a swift project and adding Amplitude to it through Cocoapods but wasn't able to see the same error. Could you add more details on how to reproduce this?

[2020-12-11 13:54] okalentiev opened #318 "SwiftPM: SSL pinning files are not available"
https://github.com/amplitude/Amplitude-iOS/issues/252 regressed in Amplitude 7.2.1

[2020-12-11 18:34] jooohhn commented on #318
Thanks for reporting, will take a look

[2020-12-22 06:11] #318 closed

[2020-12-22 19:40] jaltreuter opened #320 "Add a property to identify iOS apps being run on macOS"
## Summary

With the introduction of Mac machines with Apple Silicon, iPhone and iPad apps can now be run natively on macOS with no developer changes needed.  Currently there's no way to identify such users in the current properties exposed by Amplitude; they show up as using an Apple iPad Pro.  Adding some way to identify apps running natively on macOS would be useful in the same way that Amplitu

[2021-01-03 23:34] mohammad-rahchamani commented on #247
@martindaum take a look at Watchlitude  https://github.com/mohammad-rahchamani/Watchlitude . WatchOS library for Amplitude.

[2021-01-09 02:43] TawanMiyaemphak opened #322 "pod 'ZCSudokuView', '~> 1.1'"
## Summary

## Motivations

[2021-01-27 10:39] dsemenov opened #324 "Amplitude breaks SwiftUI previews when building for macOS because of UIKit"
## Steps to Reproduce
1. Create new macOS app in Xcode with SwiftUI
2. Add Amplitude via SPM
3. Resume SwiftUI preview

## Environment
- SDK Version: 7.2.2
- Device: MacBook Pro 13
- OS Version: macOS 11.1
- Xcode version: 12

## Diagnostics
[code]

![Screenshot 2021-01-27 at 11 36 48](https://user-images.githubusercontent.com/27815/105979444-f877ec80-6093-11eb-991e-2562517becee.png)

[2021-02-05 00:50] HunterHillegas opened #326 "Xcode 12.5: target 'Amplitude' has invalid header layout"
We're pulling the library in via the Swift Package Manager support in Xcode.

Xcode 12.5b1 was released this week.

When building with this version, the Amplitude library does not build.

## Expected Behavior

The library should build correctly.

## Current Behavior

The library does not build with the latest Xcode beta:

`Showing All Messages
target 'Amplitude' has invalid header layout: umbrella

[2021-02-17 10:36] florianbuerger commented on #326
Still happening on Xcode 12.5 Beta 2

[2021-02-18 00:40] #322 closed

[2021-02-18 18:27] jooohhn commented on #326
Thanks for the report, looking into it

[2021-02-21 08:29] saidsikira opened #327 "Amplitude fails to build on Mac Catalyst target"
## Expected Behavior
Amplitude should build successfully on the Mac Catalyst target after enabling Mac support for an iOS app

## Current Behavior
The compilation fails on `#import "APMEventExplorer.h"` in `Amplitude.m` with an error: `fatal error: 'AMPEventExplorer.h' file not found`.

<img width="313" alt="Screenshot 2021-02-21 at 09 20 34" src="https://user-images.githubusercontent.com/3612892/

[2021-02-22 21:44] jooohhn commented on #327
WIll take a look, thanks!

[2021-02-26 21:22] Moriquendi commented on #324
+1

[2021-03-04 07:51] karanayyana commented on #304
I believe its interfering with another product called Foxit, I am guessing both have variables named userid and its Objective-C based - (https://developers.foxitsoftware.com/pdf-sdk/ios/)

since its libraries that is imported with in the project, Apple is identifying the error with Amplitude.

[2021-03-04 09:50] Moriquendi commented on #324
Anyone got a clue how it could be fixed?
Apparently `EventExplorer` target is being included when building for SwiftUI Preview, but I'm not sure why. Package.json is conditionaly making it as a condition only on iOS so it looks good...

[2021-03-05 01:16] jooohhn commented on #324
Planning to have a fix out by tomorrow. We're going to be removing event explorer code and putting it into a separate framework.

This should stop problems with SPM installs

[2021-03-05 01:16] jooohhn commented on #327
Related to #324

[2021-03-06 05:29] #327 closed

[2021-03-08 06:46] #324 closed

[2021-03-10 04:47] caffieneToCode commented on #275
Is anybody looking into this issue? We are getting these crashes after initialising Amplitude. Below is the crash logs,

Crashed: com.amplitude.db.queue
0  libsystem_platform.dylib       0x1dd44820c _os_unfair_lock_unowned_abort + 36
1  libsystem_platform.dylib       0x1dd446264 _os_unfair_lock_unlock_slow + 136
2  libsqlite3.dylib               0x1ac867354 sqlite3_snprintf + 4160
3  libsqlite3.dy

[2021-03-11 04:31] yuhao900914 commented on #275
@caffieneToCode @Swapnil-Gunla
Thanks for reporting. I'm trying to investigating this issue.
Can you guys provide provide the full stack trace including other threads?

[2021-03-12 22:25] yuhao900914 commented on #275
We have a related issue here. https://github.com/amplitude/Amplitude-iOS/issues/171
Please take a look at this issue to see if that's the same to your situation.
Let me know if that help.
Thanks.

[2021-03-16 21:55] #247 closed

[2021-03-18 14:53] vitogit commented on #236
@haoliu-amp Any updates on this? I think I'm having the same issue, should I try the hacky way of adding an extra character? or is something solved now in newer versions?

[2021-03-20 13:06] NSCabezon opened #333 "WatchOS support over SPM?"
Since 8.1.0 (2021-03-16) it seems to have support for WatchOS, but I think you missed SPM. the package.swift is as follows:

    platforms: [
        .iOS(.v10),
        .tvOS(.v9),
        .macOS(.v10_10)
    ]

## Expected Behavior
WatchOS import works

## Current Behavior
Can't import Amplitude on WatchOS target

## Possible Solution
Add WatchOS to suggested platforms in package.swift

## Steps

[2021-03-20 17:17] #333 closed

[2021-03-25 11:18] kikettas commented on #326
Is there any lead regarding this issue?

[2021-03-29 02:29] BrentMifsud commented on #326
Having this issue as well with Xcode beta 3 on an M1 MacBook Air

[2021-03-29 02:55] HunterHillegas commented on #326
Unfortunately we had to pull Amplitude from our project since we couldn’t build with the latest tools. We need to be able to ship betas with the tool chain that’s about to be released as public.

[2021-03-30 15:59] madhikarma opened #334 "Missing events?"
## Summary

Hi there

We were looking at a situation (10% of the time) where events are being received and shown by our internal Analytics system but missing in Amplitude for the same user.

Are there situations where the events are not going to be sent by the SDK i.e. dropped from being sent or ignored by the Amplitude servers?

In the particular case the events missing occur after opening from a

[2021-03-30 17:08] haoliu-amp commented on #334
Hello, in order to help you further, pls file a ticket here https://help.amplitude.com/hc/en-us/requests/new. Thanks!

[2021-04-01 14:53] BrentMifsud commented on #326
any updates on this? Xcode 12.5 is going to be released very soon.

[2021-04-01 18:52] lapfelix commented on #326
I was able to fix this by moving the certificate to a different folder (outside of the `publicHeadersPath` folder)
https://github.com/lapfelix/Amplitude-iOS/commit/66169aa6d190f37f7d6003c87ea5bb6947356175

I'll open a PR

[2021-04-01 19:08] haoliu-amp commented on #326
Fixed in #335 . Thanks @lapfelix

[2021-04-01 19:08] #326 closed

[2021-04-01 20:22] BrentMifsud commented on #326
Awesome job with this fix.

[2021-04-02 01:22] IsaiahJTurner opened #339 "How do extensions work?"
## Summary

I see platformDataDirectory resolves to the library directory however this is not shared between extensions/the core app. Is it possible to specify an app groups path for the data directory? Otherwise, how do I ensure events sync between the main app and the extension. Will events from the extension when network was unavailable still be uploaded by the main app?

[2021-04-02 01:28] haoliu-amp commented on #339
Good question, are you trying to use our SDK for both app and extension?

[2021-04-03 01:38] IsaiahJTurner commented on #339
@haoliu-amp yes, we use a notification content extension (which has interactions) as well as a share extension (which has interactions) and we'd like to track them the same way we track those views in our core app

[2021-04-03 01:41] IsaiahJTurner commented on #339
For our Realm data store (the data caching layer of our app) we use an app groups data directory so that when tagging users in the share extension the local cache of contacts can be searched and for our session key we store it within the App Group's UserDefaults. I would presume a similar pattern is needed for Amplitude assuming the identify data is stored in some sore of local file/info.plist. We

[2021-04-05 22:04] IsaiahJTurner commented on #339
In our initial testing, we are not seeing any events from the Extensions. Is there something we are doing incorrectly @haoliu-amp ?

[2021-04-05 23:19] haoliu-amp commented on #339
@IsaiahJTurner We will take a look. @jooohhn will be helping you soon.

[2021-04-08 05:17] sayan-mitra opened #341 "what is amplitude_attribution_ids key in export payload after sending data using the iOS SDK"
## Summary

After sending data to Amplitude using the iOS SDK, when I export the payload using the export API, I see a key **amplitude_attribution_ids**  in the payload which has an array value. What it is and how is this populated by Amplitude.
I looked at the attribution API for some reference, but the export payload doesn't have the **idfa value and is set to null**.
Is the iOS SDK sending attr

[2021-04-08 06:07] haoliu-amp commented on #341
@sayan-mitra In our SDK, idfa will be collected only if you enable it and pass your idfa collection logic. Regarding the `amplitude_attribution_ids` for the export API, you can go to [Amplitude Help](https://help.amplitude.com/hc/en-us/requests/new) to file a question since it's owned by another team.

Thanks! Closing this since it's mainly for export API but not SDK.

[2021-04-08 06:07] #341 closed

[2021-04-08 19:22] jooohhn commented on #339
@IsaiahJTurner thanks for your patience, I'm looking to get an answer to you by tomorrow

[2021-04-09 05:16] #334 closed

[2021-04-09 05:18] #304 closed

[2021-04-12 15:26] jooohhn commented on #339
@IsaiahJTurner Could you clarify how you're setting up Amplitude in your extensions? Amplitude's dev docs [mention some differences when using Amplitude in extensions](https://developers.amplitude.com/docs/advanced-settings#ios-extensions). Events might not be uploaded if `eventUploadPeriodSeconds` exceeds how long the extension is open.

[2021-04-14 09:22] Bersaelor commented on #275
We are also seeing this in our app:
<img width="2296" alt="Screen Shot 2021-04-14 at 11 20 12 " src="https://user-images.githubusercontent.com/4517582/114687028-9f733880-9d13-11eb-88c7-7808c78dab07.png">

[2021-04-14 16:48] yuhao900914 commented on #275
@Bersaelor  Can you provide the full crash report? It will help us investigate this issue. Thanks.

[2021-04-14 18:28] ekurutepe commented on #275
@yuhao900914

below is the symbolicated crash log that @Bersaelor is referring to.

hope this helps.

[code]

[2021-04-16 08:52] abesuunto opened #342 "Xcode 12.5: Umbrella header for module 'Amplitude' does not include header '<...>'"
We are using the library via SPM in Xcode.

Xcode version: Xcode 12.5b3

- Build settings:

   - Swift compiler - warning policies:
  treat warnings as error: YES

## Expected Behavior

The library should build correctly.

## Current Behavior

Library fails to build because of the following warnings:

[code]

## Possible Solution

Maybe this: https://forums.swift.org/t/root-cause-of-umbrella-heade

[2021-04-16 17:16] yuhao900914 commented on #342
Hi @abesuunto
This issue has been fixed in [#335 ](https://github.com/amplitude/Amplitude-iOS/pull/335). It may be because of the Swift Package Cache issue. Please `Reset package caches` or remove and re-add. Then try to build.
Thanks.

[2021-04-16 17:36] abesuunto commented on #342
This is not the same issue as in #335. Please, repeat the steps I have mentioned. If I change `treat warnings as error:NO` when building it works.

[2021-04-16 17:45] yuhao900914 commented on #342
Got it now.
cc: @jooohhn

[2021-04-20 13:23] abesuunto commented on #342
Is there any plans to fix it soon? Xcode 12.5 release is around the corner. I think it is quite common to use `treat warnings as error: YES` setting in iOS projects. It ensures better quality code.

[2021-04-20 16:33] yuhao900914 commented on #342
@abesuunto  We are working on that now. Will give you an update soon.

[2021-04-20 16:35] abesuunto commented on #342
Great! Thank you very much!

[2021-04-25 07:39] Asupercat commented on #257
It’s not workink

[2021-04-26 08:38] Hardik4007 opened #344 "[iOS] Fetch Logged Events"
I'm trying to fetch event logs but could not find a way to fetch logged events. Can you guild me if there is a way to fetch events which we have logged using ios sdk.

Please suggest me if it is possible or not. If possible can you give me a reference for API or iOS SDK to fetch the events.

Thanks.

[2021-04-26 16:44] dantetam commented on #344
Hello @Hardik4007 ,

For quick analyses into your data, export from your project with `Export Data`, where you may see JSON events from a specified date range.

For programmatically exporting large volumes of events, see this [help center guide for all different options](https://help.amplitude.com/hc/en-us/sections/203209607-Export-your-Amplitude-data).

I do not know of a way inside the SDK itsel

[2021-04-26 22:55] haoliu-amp commented on #257
@Asupercat May I know how do you set it up?

[2021-04-27 11:55] Hardik4007 commented on #344
Using this Export Data api, it downloads zip file which contains logs from specified date range. but is it possible if we want some specific events in json format?

[2021-04-27 16:34] cmachadomarcos commented on #342
Hello!
any update? we are blocking the update to Xcode 12.5 because of that :)

[2021-04-27 16:49] dantetam commented on #344
Good morning @Hardik4007 ,

Feel free to clarify your use case for the exported data. What extra analysis would you like to perform on the logged events?

Using the Export Data API, you may use programs to unzip and filter the JSON events yourself. However, the Amplitude dashboards and charts may offer your desired functionality already.

[2021-04-28 08:20] gmorning commented on #342
As Xcode 12.5 is mandatory to run apps on released iOS 14.5, this issue is becoming more and more severe each day. If you can increase it's priority, I'm kindly asking to do that

[2021-04-28 08:34] Hardik4007 commented on #344
Hi @dantetam

We are logging event when we log in to the app and we are integrating automation test case to know the event is logged successfully or not using XCUITest framework.

Using Export data api we are getting zip file of logs. but we want to retrieve some logs programmatically and want to confirm logged events on login.

[2021-04-28 20:13] dantetam commented on #344
Hello @Hardik4007 ,

You may follow the guide for [domain proxies](https://developers.amplitude.com/docs/domain-proxies) here to listen to events.

You may also create your own wrapper around the SDK.

[2021-05-03 17:55] yuhao900914 commented on #342
Thanks for all of your patient. This issue has been fixed on the updated version v8.3.0. I Will close this issue due to it has been fixed.

[2021-05-03 17:55] #342 closed

[2021-05-04 11:24] cmachadomarcos commented on #342
Thank you so much!

[2021-05-15 20:12] esphynox opened #349 "[macOS] Dashboard receiving events from different unsandoxed apps."
## Expected Behavior
I should receive events only from my application.

## Current Behavior
I'm receiving events from other applications using Amplitude iOS SDK on this computer.

![Screenshot 2021-05-15 at 21 24 45](https://user-images.githubusercontent.com/8351932/118376643-f2216800-b5d1-11eb-9508-73742205bd64.png)

I'm not sure, but this might be considered as security issue, since I'm could re

[2021-05-20 18:56] dantetam commented on #349
Hello @esphynox ,

Thank you for the very detailed explanation and in depth steps to reproduce and solve the issue. We will look at this next sprint 5/24 - 6/4. This is a very interesting write-up on the intricacies of file system behavior for multiple iOS apps in certain conditions.

We will definitely test this ourselves. We will have to consult within our team to recognize the implications of s

[2021-05-22 19:31] esphynox commented on #349
Alright, cool. Thanks!

[2021-06-05 10:19] nibe opened #350 "Unexpected `optOut` Property Behavior"
## Expected Behavior
This should print `true`:
[code]

## Current Behavior
It prints `false` (if `optOut` was `false` before). This can easily lead to buggy code that looks correct, a race condition or an unreliable property binding.

## Environment
- SDK Version: v8.3.0
- OS Version: macOS 11.4

[2021-06-07 08:15] esphynox commented on #349
Hi there. I will be really grateful for any updates on this issue.

[2021-06-07 17:02] yuhao900914 commented on #349
Hi @esphynox, Thanks for your patient. I'm working on this right now.
I'm able to reproduce this issue by following the steps. Trying to investigate what's the best solution for this.

[2021-06-11 18:49] jaltreuter opened #352 "Instantiating Amplitude within a Widget extension leads to crashes"
## Expected Behavior
Instantiating Amplitude within an extension should ideally allow event logging, but at a minimum it should not result in crashes.

## Current Behavior
My app has hundreds of reports of crashes in my widget process, with stack traces that show Amplitude is performing sql work at the time of the crash.  The logged error is SIGKILL with code 0xdead10cc, which [the documentation s

[2021-06-12 20:13] ZkHaider commented on #334
@haoliu-amp closing this issue doesn’t technically answer portions of this question, for example it might be helpful to state how Amplitude flushes events internally and so on, before asking a user to submit a new ticket request.

We all are trying to help each other and delegating an issue off to a detached process (submit a ticket) comes across as dismissive.

[2021-06-13 12:24] madhikarma commented on #334
Thanks @ZkHaider for the support

fwiw: I emailed / created a ticket as suggested and got an email with technical support confirming we have errors from Amplitude servers (possibly too many events) for our app but I haven't followed up on that yet

But yes I was hoping for some technical insight here about the Amplitude SDK side but I must admit it did feel a little dismissive at the time to get [

[2021-06-14 16:48] haoliu-amp commented on #334
@madhikarma Sorry to hear that this made you felt that way. It might be tricky if someone claim that events are missing and we might need to request instrumentation code from you. To better protect your privacy, that's why we routed you to our support.

We're revamping our dev doc these days, and we'll consider to add those info you talked about at the same time.

cc: @ZkHaider

[2021-06-29 08:10] esphynox commented on #349
Hi there, @yuhao900914. Is there any updates for this issue?

[2021-06-29 08:24] yuhao900914 commented on #349
@esphynox
Hi there.
For improving the performance issue, we are removing saving each event into SQLite, which will resolve the unsandbox issue.
So it might take more time on fixing this. But we are actively working on this.

[2021-07-12 15:04] dantetam commented on #352
Hello @jaltreuter ,

Sorry for the late reply. We've been working on this for the past month as part of a whole architecture redesign of the iOS SDK. We've been looking into this issue as well. I get the general idea, and also let me if you've found the steps to reproduce.

Dante

[2021-07-19 12:25] okalentiev commented on #275
We are experiencing the same issue. @yuhao900914 Is there any suggestion on how to fix it? If needed, I can provide crash reports as well. However, from what I see, they are mostly the same as @ekurutepe shared. Crashes are happening on version 8.3.0.

[2021-07-19 17:01] yuhao900914 commented on #275
Hi, @okalentiev.
 We've been working on the architecture redesign of the iOS SDK, which will remove using SQLite.  The improvement will improve the efficiency and also solve this problem I believe.

[2021-07-19 17:25] okalentiev commented on #275
@yuhao900914 Thanks a lot for the update! Will keep and eye on the releases.

[2021-08-04 08:15] esphynox commented on #349
Hello there, is there any updates?

[2021-11-01 15:01] Semty opened #370 "Support of watchOS via SPM"
## Summary

Please, add support of watchOS when using Swift Package Manager. It works like a charm via Cocoapods and it's very convenient.

## Motivations

It solves the problem of using Amplitude in a watchOS project 🙂

[2022-01-13 09:04] KishanLal opened #380 "Usage of weak crypto algorithms like MD5 in Amplitude iOS SDK"
## Summary

Our Penetration testing team has identified usage of weak crypto algorithms like MD5 in Amplitude iOS SDK and logged security vulnerability. What are the plans to migrate to latest crypto algorithms? Can you please migrate to latest crypto algorithms to mitigate this?

**Recommendation**:
Do not use weak cryptographic algorithms to protect information and processes such as RC4, DES, DE

[2022-01-14 12:27] johnnieWa1ker commented on #128
It would be great to see the same ability to switch the debug log as on android `Amplitude.getInstance().setLogLevel(log.DEBUG)` or similar

[2022-02-07 16:11] evgeniyChepelev opened #382 "AnalyticsConnector not found"
## Summary

I add Amplitude with SMP
And have error Module 'AnalyticsConnector' not found in Amplitude.m file

[2022-02-07 17:58] #382 closed

[2022-02-07 17:59] bgiori commented on #382
@evgeniyChepelev Thanks for submitting this issue! The main branch has been updated with a fix.

[2022-02-13 06:26] callo90 opened #384 "❌ IPA processing failed - v8.8.0(SPM - Bitcode)"
## Current Behavior

Archiving builds with bitcode enabled are failing on the latest release v8.8.0, after updating from the version 8.7.2 using SPM builds started failing, I noticed that this package `analytics-connector-ios` was installed on the latest version, I suspect that this package could be creating problems with bitcode.

## Steps to Reproduce

1. Archive and select Adhoc distribution
2.

[2022-02-14 14:43] callo90 commented on #384
Hey @bgiori thanks for responding,  I tried with Xcode 13.2.1 and a M1 Mac and also tried with Bitrise with an Intel Mac and Xcode 13.0, and it was failing for both machines and Xcode versions.

[2022-02-15 02:10] bgiori commented on #384
@callo90 Hey, so I updated to xcode 13.2.1 and tried distributing a test app with only Amplitude v8.8.0 installed via SPM dependency and got past the IPA validation phase when compiling bitcode.

Are there any other options that I can try to reproduce this issue? (thinning?)

Just to double check: locally building the app and loading onto a test device or simulator works ok?

What device are you b

[2022-02-15 07:25] chellongCoder commented on #210
@Aequitas737 you save my day 🥰

[2022-02-22 12:19] callo90 commented on #384
Hey @bgiori,

`Are there any other options that I can try to reproduce this issue? (thinning?)` No thinning, just enable bitcode for adhoc distribution. Downgrading to v8.7.2 worked, seems that removing this dependency `analytics-connector-ios` did the magic

`Just to double check: locally building the app and loading onto a test device or simulator works ok?` yes it does, it's only failing archiv

[2022-02-22 12:21] callo90 commented on #384
@bgiori I'm also using the experiment library, `https://github.com/amplitude/experiment-ios-client`, I had to keep it on version 1.5, after upgrading to 1.6 I realized that the same` analytics-connector-ios` is being installed, maybe there is some connection between those two libraries.

[2022-02-23 17:05] bgiori commented on #384
@callo90 The analytics-connector-ios shared package is used to connect the two SDKs to provide seamless integration.

I was able to validate and ad hoc distribute a test app with both Amplitude-iOS v8.8.0 and experiment-ios-client v1.6.0 installed via SPM. My guess at this point is that there is some build setting that you have which I don't that is causing this discrepancy.

![Screen Shot 2022-02

[2022-02-23 17:07] bgiori commented on #384
I'd be interested in the setting you have for `BITCODE_GENERATION_MODE`. Mine is set to `marker`

[2022-02-24 12:47] callo90 commented on #384
It's compiling with this flag `-fembed-bitcode` I don't have a user-defined to set `BITCODE_GENERATION_MODE` marker, are defining this flag manually?

[2022-02-25 18:19] bgiori commented on #384
Tried using `-fembed-bitcode` as a custom C compiler flag but the distribution still works. `BITCODE_GENERATION_MODE` is a hidden build option that you can set as a user-defined build setting.

When I manually set `BITCODE_GENERATION_MODE` to `bitcode` instead of marker, my local build fails with this error:

![Screen Shot 2022-02-25 at 10 17 48 AM](https://user-images.githubusercontent.com/328219

[2022-03-02 09:06] birkettN opened #386 "Preprocessor Macros showing errors at build time and Bitrise build failure"
We are running into an issue that we just cant figure out.
The Amplitude.m file floods our build log with errors, every error line shows.
The project does however run and from what we can see everything works as it should.

We are using cocoapods version 8.8.0 and have tried a few different previous versions with no success.

<img width="306" alt="Screenshot 2022-03-02 at 10 56 29" src="https://us

[2022-03-08 09:12] junjie opened #387 "-[AMPIdentify set:value:] does not allow overwriting value of existing property"
## Expected Behavior
The [docs](http://amplitude.github.io/Amplitude-iOS/Classes/AMPIdentify.html#//api/name/set:value) for the method `-[AMPIdentify set:value:]` states that:

I had assumed that that means if a property changes, I could call `-set:value:` on the same `AMPIdentify` object, then update using `-[[Amplitude instance] identify:]` using the same `AMPIdentify` object.

## Current Behavi

[2022-03-09 06:35] qingzhuozhen commented on #387
Hi @junjie, thanks for bring this up. Actually this is intentional in our Identify class. Inside one identify, there could be multiple ways to handle user properties, set, unset, add, remove, etc. For this reason, inside one identify object, we are preventing the same property updating again and show up in various operations to prevent confusion. I would suggest when update, each time just use a n

[2022-03-09 07:12] junjie commented on #387
I see. I've come to realise that after studying the code, thanks for the clarification @qingzhuozhen

I think on re-reading the documentation, it is saying that it will overwrite the value of the property on Amplitude's server, and not in the Identify object.

[2022-03-09 07:12] #387 closed

[2022-03-29 13:31] jcarltonj opened #390 "### Summary"
### Summary

Any timeline on when this will be merged? PR has been open for 2 months and now it's approved. Would love this feature.

 Adds support on Swift Package Manager for WatchOS
Fixes https://github.com/amplitude/Amplitude-iOS/issues/370

### Checklist

* [X] Does your PR title have the correct [title format](https://github.com/amplitude/Amplitude-iOS/blob/main/CONTRIBUTING.md#pr-commit-tit

[2022-03-29 18:09] #370 closed

[2022-03-29 18:10] bohan-amplitude commented on #390
Hi @jcarltonj ,

Just merged the PR. Thank you.

[2022-03-29 18:10] #390 closed

[2022-03-29 23:13] bohan-amplitude commented on #390
I'm working on bump the version but github actions for release seems need some upgrade. Will be done ASAP.

[2022-03-29 23:18] jcarltonj commented on #390
Got it, we've been having those issues too. This is the link for early access if you're trying to get on macOS 12. https://forms.gle/D1ihWjw3xDfjYbu67 and here is the issue if you haven't seen it yet https://github.com/actions/virtual-environments/issues/3649

[2022-03-30 18:23] bohan-amplitude commented on #390
Version bumped. Please check out version 8.9.0

[2022-04-04 11:48] Marcus-Kivra commented on #128
+1
Our team also need this functionality.

[2022-04-14 09:18] wanglei8909 opened #395 "An error occurred, When I integrate Amplitude and AmplitudeExperiment"
When I integrate Amplitude and AmplitudeExperiment

## Environment
- Amplitude SDK Version:
- AmplitudeExperiment SDK Version:

<img width="1014" alt="截屏2022-04-14 下午5 12 07" src="https://user-images.githubusercontent.com/13362344/163354653-8406b0f9-497c-48c3-a604-8b39628c8f3c.png">

[2022-04-14 16:02] bgiori commented on #395
Hi @wanglei8909 thanks for submitting this issue!

Are you using CocoaPods?

[2022-04-15 02:28] wanglei8909 commented on #395
YES

[2022-04-18 17:51] bgiori commented on #395
Unfortunately I cannot reproduce. Could you provide me with the following info:
* XCode Version
* Targeted Platform (iOS, macOS etc.)
* CocoaPods Version
* Language Used (ObjC, Swift)

Any additional custom build settings that you are using.

[2022-04-20 13:19] ketenshi opened #396 "Crash on `com.amplitude.db.queue`"
Saw this crash in our crash reports

[code]

## Steps to Reproduce
Saw this in Crashlytics, not sure what was the trigger

## Environment
- SDK Version: 8.8.0
- Device: iPhone 13 Pro Max
- OS Version: iOS 15.4.1

[2022-04-21 03:34] wanglei8909 commented on #395
XCode Version:13.1
CocoaPods Version: 1.11.2
Targeted Platform:iOS
Language Used: ObjC&Swift

[2022-04-21 03:39] wanglei8909 commented on #395
![image](https://user-images.githubusercontent.com/13362344/164366916-93795fd1-97f9-4c7e-b0d9-f0415e7d7093.png)

When i delete the line 6&7 in podfile. the error disappeared.
But When i add the line " install! 'cocoapods', :generate_multiple_pod_projects => true", the error appeared.

[2022-04-25 22:53] lalunamel opened #397 "Unable to build project with code coverage that depends on Amplitude"
When building our iOS project at Gusto, I've found that it fails when code coverage is enabled. Specifically, linking the Amplitude-iOS library fails with

[code]

I've found the solution to this error, but it requires adding a linker flag (`-fprofile-instr-generate`) to your `Package.swift`. I would have liked it much better if the fix only required changes to our local repo!

Unfortunately I'm n

[2022-05-05 05:40] yuhao900914 commented on #396
cc: @bohan-amplitude @qingzhuozhen

[2022-05-05 05:54] yuhao900914 commented on #397
Closed this issue since the fix has been merged. https://github.com/amplitude/Amplitude-iOS/pull/398
@lalunamel Thanks for your contribution to Amplitude-iOS!

[2022-05-05 05:54] #397 closed

[2022-05-17 08:36] nicoonguitar commented on #128
Hello @djih, is this something planned in the short/medium term ?

[2022-05-18 14:39] bguidolim opened #399 "Tracking wrong carrier"
## Expected Behavior
A valid carrier should be tracked.

## Current Behavior
Getting the wrong carrier using a deprecated API

## Steps to reproduce:
1. Have a physical SIM card and an e-SIM configured in an iPhone
2. Disable one of the lines
3. It's possible that Amplitude gets the disabled carrier

## Possible Solution

Consider this getter: https://github.com/amplitude/Amplitude-iOS/blob/55ee55

[2022-05-18 16:57] haoliu-amp commented on #399
Thanks for reporting it! We will prioritize it soon.

[2022-06-07 19:53] mikemag-dev commented on #395
I am having the same issue, but disabling :`generate_multiple_pod_projects` is not an option for my project

[2022-06-14 16:21] sroebert commented on #339
I'm also running into issues when trying to use Amplitude with a notification service extension. It seems that the extension is killed right after processing notifications, so Amplitude is not able to perform the upload request.

Even manually forcing the events to be uploaded using `Amplitude.instance().uploadEvents()` will not work, as I need to know when the uploading has been completed.

Would

[2022-06-15 00:37] liuyang1520 commented on #399
Thanks for reporting this! Based on my investigation, I have opened a PR (#400) for fixing this issue. I have tested it on a iPhone 13 mini with only one SIM. However, I don't have a iOS device with 2 SIMs, @bguidolim could you please help to test this?

[2022-06-15 03:49] bguidolim commented on #399
@liuyang1520 tested and working well. I've just pointed out an improvement on your PR to avoid flooding the console with warnings.
Maybe for a future improvement, on the product level, make Amplitude support an array of carriers instead of a single one.
Thx for fix.

[2022-06-15 04:17] liuyang1520 commented on #399
Thank you @bguidolim for testing and reviewing my PR, an update is pushed based on your suggestion.
For the future improvement to make Amplitude support multiple carriers, I will discuss with team about it, to see what/when we can provide to support.
Thanks for supporting Amplitude!

[2022-06-16 00:20] pmurphyjam opened #401 "Amplitude will not build as a Swift Package in Xcode"
## Expected Behavior
Should build
## Current Behavior
Showing Recent Messages
The package product 'Amplitude' cannot be used as a dependency of this target because it uses unsafe build flags.

## Possible Solution
Use prior version

## Steps to Reproduce
Just try to build it as a Swift Package

## Environment
- SDK Version: Latest 8.10.1
- Device: iPhone 13, 2020 MacBook Pro 16-inch
- OS Version:

[2022-06-16 07:40] roimulia2 commented on #401
Same issue here. Please fix it ASAP we want to submit new version to the store.

[2022-06-16 10:20] vvbutko commented on #401
Same issue:

[2022-06-16 17:04] liuyang1520 commented on #399
@bguidolim , the fix for this is merged and released, thanks again for your help!
For the future improvement, in order to support dual SIM device (iOS here, [Android](https://github.com/amplitude/Amplitude-Android/blob/main/src/main/java/com/amplitude/api/DeviceInfo.java#L116)) without breaking backwards-compatibility, I was thinking:
1. string concat (might break search/index)
2. add extra attrib

[2022-06-17 10:19] larryonoff commented on #401
Same issue. 8.10.0 works for me.

[2022-06-17 10:52] LaurentiuUngur commented on #401
Same here

[2022-06-20 14:32] roryprior commented on #401
Also having this issue, specifying 8.10.0 for now works but hope this can be resolved and avoided in future.

[2022-06-20 14:39] lewis-smith commented on #401
I also see this issue

[2022-06-20 15:02] georgbachmann commented on #401
Same here

[2022-06-21 15:32] BastienPenalba commented on #401
Same here ☹️

[2022-06-21 20:58] liuyang1520 commented on #401
Thanks for reporting this! We have reverted the `unsafeFlags` change and published a new version `v8.10.2`.

[2022-06-23 21:50] bguidolim commented on #399
I'm not sure how important is to track all the carriers, the fix provided on your PR gets the most of cases tracking the "main" carrier, which would be enough for my use case at least.

Considering the abovementioned options, I would go for option 2 or 3. However, I don't know if there are devices with more than 2 carriers or if they would be something in the near future. So, the easiest way would

[2022-07-11 23:24] liuyang1520 commented on #399
Got it, thanks @bguidolim for your feedback! In this case, this potential future change sounds like a low-priority feature. I will close this issue. We will watch for more feedback/concerns in this and Android repo to see when/what we can do for better supporting the devices with two carriers (FYI @haoliu-amp).

[2022-07-11 23:24] #399 closed

[2022-07-21 22:20] TIIGII01 opened #405 "amp"

[2022-07-21 22:21] #405 closed, assigned to nobody

[2022-08-15 22:30] jaltreuter commented on #352
@dantetam has there been any progress on this?  I'd love to be able to log analytics from our app extensions.

[2022-08-16 21:15] dnshi commented on #352
Hey @jaltreuter , thanks for the follow up. Do yo have steps to reproduce the issue? I

[2022-08-17 00:02] jaltreuter commented on #352
@dnshi I don't.  The documentation I mentioned in my original post seems to indicate all it takes is to have a SQLite job running when the process is suspended.  Before I removed the Amplitude library from all but my app target, this was the most common crash found by Xcode by far.  So I don't expect it'd be terribly difficult to repro, but I haven't tried.

If I were to recommend somewhere to sta

[2022-08-17 00:24] dnshi commented on #352
@jaltreuter I am going to create an action item to our engineer team and we will prioritize the task. Thanks.

[2022-09-01 08:26] Crysis21 commented on #128
hey guys, it's been a few years. any chance you could make this happen?

[2022-09-08 12:26] kolboch commented on #339
What we've observed that events from notification extensions are reported the next time service was triggered. My only concern is: will they ever be reported without sending another notification (let's assume we send one and only notification, service reports to Amplitude event "Notification received", but it didn't manage to upload that to Amplitude, we never ever send one more notification, so n

[2022-09-14 15:18] davidmoore1 opened #411 "Carthage build with XCode 14 failed - No Destination"
## Expected Behavior
Typically this builds using scheme Amplitude-iOS

## Current Behavior
XCRun failed before it got to that point processing the Amplitude scheme

## Possible Solution
I was able to make it get through the Carthage build by marking the Amplitude scheme as not shared

## Steps to Reproduce

1. Set up in Cartfile - github "amplitude/Amplitude-iOS" ~> 8.0.1
2.Do a carthage update wh

[2022-09-14 16:23] craigreyenga commented on #411
Can confirm that I am also seeing this issue.

[2022-09-15 11:37] hzh137940556 commented on #411
@djih I have same error. Can you fix it ?

[2022-09-16 14:21] antonyalkmim commented on #411
Does anyone have any idea why this error happens with Carthage?

Using amplitude through SPM/Cocoapods is working fine

[2022-09-16 19:03] davidmoore1 commented on #411
My temporary solution has been to change my build scripts to temporarily remove the Amplitude scheme in my Fastlane build scripts:
  sh("cd .. && rm -rf Carthage")
  sh("cd .. && carthage checkout --use-submodules")
  sh("cd .. && rm  ./Carthage/Checkouts/Amplitude-iOS/Amplitude.xcodeproj/xcshareddata/xcschemes/Amplitude.xcscheme")
  sh("cd .. && carthage build --use-xcframeworks --platform ios --

[2022-10-05 06:10] daniapopov opened #413 "Performance Checker Xcode 14"
## Expected Behavior
DispatchSemaphore seems like it isn't working as intended here

## Current Behavior
It seems like there is a queue prioritization bug
Console output is:
[code]
<img width="1045" alt="image" src="https://user-images.githubusercontent.com/73848386/193991963-f0728706-cce7-4c7c-ad87-60e4cb1fcf30.png">

## Steps to Reproduce
Run in Xcode 14

## Environment
- SDK Version: v.8.13.0
-

[2022-10-05 16:04] bohan-amplitude commented on #413
Hi @daniapopov , Thank you for your feedback. I'll look into this and get back to you.

[2022-10-07 17:00] anuragajwani commented on #411
The target (Amplitude) that Carthage to tries to build does not exist

![Screenshot 2022-10-07 at 17 59 38](https://user-images.githubusercontent.com/7071488/194611204-28933155-98e8-4de6-8e94-3da97bf9d28f.png)
![Screenshot 2022-10-07 at 17 59 49](https://user-images.githubusercontent.com/7071488/194611241-3e08d7de-e43d-4f4a-b563-0621e6b2e8d0.png)

[2022-10-19 15:16] FranckLetellier opened #415 "UpperCased Boolean Value"
## Expected Behavior
We are sending bool value to the SDK. On the dashboard, we are getting lower cased `true` or `false` value

## Current Behavior
We are getting Upper cased `True` and `False` value more recently.

## Possible Solution
Could it be related to iOS 16 ? The change started around august/september 2022

<img width="1647" alt="Screenshot 2022-10-19 at 17 10 00" src="https://user-image

[2022-10-19 15:54] kevinpagtakhan commented on #415
Hi @FranckLetellier, thank you for choosing Amplitude. We'll look into this issue further. Any chance you can share the link to your dashboard?

[2022-10-20 12:20] FranckLetellier commented on #415
Hi @kevinpagtakhan , I can ask, but I don't think we are allowed to share it.

[2022-10-20 12:47] FranckLetellier commented on #415
Actually this is okay @kevinpagtakhan, here[ is the link](https://analytics.amplitude.com/photoroom/chart/n5y6jci?source=redirect%3A%20chart%20saved?source=copy+url)

[2022-10-20 21:38] ketenshi opened #416 "Crash on `APMPersistedConfig`"
Noticed this crash in Crashlytics

EXC_BREAKPOINT  0x000000018f1a45ac

[code]

## Steps to Reproduce
Not sure, this is a crash report in Crashlytics

## Environment
- SDK Version: 8.8.0
- Device: iPhone XR
- OS Version: iOS 16.0.0

[2022-10-24 21:19] qingzhuozhen commented on #416
Hi @ketenshi. thanks for raising this up. `APMPersistedConfig` is not part of Amplitude SDK, could this be related to some other SDKs?

[2022-10-24 21:25] ketenshi commented on #416
Hi @qingzhuozhen thanks for checking. Yea sorry about that, looks like it's GoogleAppMeasurements 🤦

[2022-10-24 21:25] #416 closed

[2022-10-24 21:28] qingzhuozhen commented on #416
No worries @ketenshi, feel free to let us know if there is any other issue. Thanks!

[2022-10-24 22:15] qingzhuozhen commented on #413
Hi @daniapopov, thanks for raising this up. This may be for the recent change in Xcode 14. Found a related [article](https://developer.apple.com/documentation/xcode/diagnosing-performance-issues-early). I tested with Xcode 14.0.1 and v8.14 and wasn't able to reproduce the warning. Would you mind sharing a bit more on the steps to reproduce? Is this still constantly happening for you now?
cc @bgior

[2022-10-28 16:17] emartinson commented on #411
Can we expect official fix for this? Quite annoying to have this over than 6 months.

[2022-11-02 08:54] m-konovalov opened #417 "Swift Package Manager support"
## Summary

Hello guys,
Thanks a lot for providing iOS SDK.

We use Swift Package Manager managing our project dependencies. Do you have any plans to distribute SDK via SPM? Or maybe you have any recommendation for the best way to integrate it?

Many thanks 🙌🏼

[2022-11-02 08:57] #417 closed

[2022-11-02 08:57] m-konovalov commented on #417
Found the answer here https://www.docs.developers.amplitude.com/data/sdks/ios/#swift-package-manager_1 😇

[2022-11-09 17:09] liuyang1520 commented on #413
Thank you for the feedback! I cannot reproduce in my local with:
- Xcode `Version 14.1 (14B47b)`
- `Thread Performance Checker` enabled
- Amplitude v8.14.0
Close this due to inactivity.

[2022-11-14 12:49] shengchalover opened #418 "v8.14.0 connected as SPM breaks Xcode builds due a to a malformed analytics-connector-ios dependency"
Amplitude-iOS Swift package references analytics-connector-ios 1.0.0, whose test target contains mixed swift-objc code, which is not supported by SPM.

Removing test target form analytics-connector-ios fixes the issue.

The problem is exposed when both Amplitude-iOS v8.14.0 and analytics-connector-ios 1.0.0 are proxied as local packages, as per [Developing a Swift package in tandem with an app](ht

[2022-11-18 09:35] SlavianaKaziuko opened #419 "API call with unopened database connection pointer"
Can smbd please suggest on the issue

## Current Behavior
Constantly getting warnings
[logging] API call with unopened database connection pointer
[logging] misuse at line 136892 of [bc8a7f24e4]

## Steps to Reproduce
Amplitude.instance().initializeApiKey(key)
And nothing more

## Environment
- SDK Version: 4.9.3
- Device:  iPhone 13, 2021 MacBook Pro 16-inch
- OS Version: iOS 16.0, MacOS 12.6

[2022-11-18 20:00] bohan-amplitude commented on #419
Hi @SlavianaKaziuko,

Thank you for the feedback. Could you try the last version 8.14.0 SDK and test? We are fixing bugs and improve features for SDK during version release. Please let me know if you need help upgrade SDK version.

[2022-11-18 23:28] bohan-amplitude commented on #418
Hi @shengchalover  Thank you for the feedback. I saw the objective C file is in the analytics-connector-ios test folder. I guess the tests are not needed for building project. Config or remove tests of dependency may help with this issue. I'll also look into this issue. Could you provide some details of project config and instruction to reproduce the error?

[2022-11-27 10:34] katiejason4 opened #420 "Hey"
## Summary

## Motivations

[2022-11-28 17:40] justin-fiedler commented on #420
Hey

[2022-11-28 17:40] #420 closed